<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito - SimplementeJuguetes</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Icon Simplemente Juguetes -->
    <link rel="icon" href="/imagen/panda-icon.ico" type="image/x-icon">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <figure class="pandaHeader"><img src="../imagen/panda-logo.png" alt="Simplemente Juguetes"></figure>
        <h1>
            <p class="tituloNegro">SIMPLEMENTE</p>
            <p class="tituloBlanco">JUGUETES</p>
        </h1>
        <div class="selectoresHeader">
            <select class="">
                <option value="" selected hidden>JUEGOS Y JUGUETES</option>
                <option value=""></option>
            </select>
            <select class="">
                <option value="" selected hidden>EDADES</option>
                <option value=""></option>
            </select>
            <select class="">
                <option value="" selected hidden>PERSONAJES</option>
                <option value=""></option>
            </select>
        </div>
        <!--busqueda-->
        <div class="busquedaHeader">
            <input type="text" placeholder="Buscar...">
            <figure><i class="fa-solid fa-magnifying-glass"></i></figure>
        </div>
        <!--iconos del header-->
        <div class="iconosHeader">
            <a href=""><i class="fa-solid fa-heart"></i></a>
            <a href="/login"><i class="fa-solid fa-user"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <!--ofertas y outlet-->
        <div class="ofertasYOutlet">
            <h3 class="ofertasHeader"><a href="/"><i class="fa-solid fa-fire-flame-curved"></i>OFERTAS</a></h3>
            <h3 class="outletHeader"><a href="">OUTLET</a></h3>
        </div>
        <figure class="barrasHeader"><i class="fa-solid fa-bars"></i></figure>
    </header>
    <!-- Main -->
    <main class="mn-container">
        <!-- Shopping cart title  -->
        <div class="mn-title">
            <ul class="mn-title-list">
                <li class="mn-title-list-item item-cart"><a class="mn-title-list-item-link" href="">CARRITO</a></li>
                <li class="mn-title-list-item">➡️</li>
                <li class="mn-title-list-item"><a class="mn-title-list-item-link" href="">FINALIZAR COMPRA</a></li>
                <li class="mn-title-list-item">➡️</li>
                <li class="mn-title-list-item"><a class="mn-title-list-item-link" href="">ORDEN COMPLETADA</a></li>
            </ul>
        </div>

        <section class="mn-box">
            <div class="mn-box-fre-products-coupon">
                <!-- Free Shipping -->
                <article class="mn-box-shipping mn-box-custom">
                    <p class="mn-box-shipping-text">Te faltan <span class="text-missing-amount">$24.000</span> para
                        conseguir <span class="text-free-shipping">¡envío gratis!</span></p>
                    <div class="progress mn-box-shipping-progress">
                        <div class="progress-bar progress-bar-custom" role="progressbar" aria-label="Example with label"
                            style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                </article>
                <!-- Products -->
                <article class="mn-box-product">
                    <div class="vt-desktop">
                        <div></div>
                        <div></div>
                        <div>PRODUCTO</div>
                        <div>PRECIO</div>
                        <div>CANTIDAD</div>
                        <div>SUBTOTAL</div>
                    </div>
                    <div class="vt-mobile-tableta">
                        <div class="product-close"><i class="fa-solid fa-rectangle-xmark"></i></div>
                        <figure class="product-fig">
                            <img class="product-img" src="/imagen/pistolaAgua.jpg" alt="">
                        </figure>
                        <div class="prueba">
                            <div class="product-details">
                                <label for="">Pistola de agua - Sin Marca</label>
                            </div>
                            <div class="product-price">
                                <label class="lbl-product" for="">PRECIO</label>
                                <label for="">$64.890</label>
                            </div>
                            <div class="product-amount">
                                <label class="lbl-product" for="">CANTIDAD</label>
                                <div class="product-up-down">
                                    <span>-</span>
                                    <span>1</span>
                                    <span>+</span>
                                </div>
                            </div>
                            <div class="product-subtotal">
                                <label class="lbl-product" for="">SUBTOTAL</label>
                                <label class="lbl-product-price" for="">$64.890</label>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Coupon -->
                <article class="mn-box-coupon mn-box-custom">
                    <form class="mn-box-coupon-form" action="">
                        <input type="text" class="form-control input-coupon" id="formGroupExampleInput"
                            placeholder="Código de Cupón">
                        <button type="button" class="btn btn-custom btn-coupon">APLICAR CÚPON</button>
                    </form>
                </article>
            </div>
            <!-- Totals Cart -->
            <article class="mn-box-totals mn-box-custom">
                <h2>TOTALES DEL CARRITO</h2>
                <form action="" class="mn-box-totals-form">
                    <div class="mn-box-totals-form-item container-subtotals">
                        <label class="lbl-subtotals">SubTotal</label>
                        <label class="lbl-subtotals-price">$64.890</p>
                    </div>
                    <div class="mn-box-totals-form-item container-shipping">
                        <label class="lbl-shipping">Envio</label>
                        <div class="mn-box-totals-form-item-adress">
                            <label class="lbl-free">Envio gratis (3 a 10 días hábiles)</label>
                            <label class="lbl-city">Enviar a Córdoba</label>
                            <label class="lbl-address">Cambiar dirección</label>
                        </div>
                    </div>
                    <div class="mn-box-totals-form-item">
                        <label class="lbl-totals">Total</label>
                        <label class="lbl-totals-price">$64.890</label>
                    </div>
                    <button type="submit" class="btn btn-custom">FINALIZAR COMPRA</button>
                </form>
            </article>
        </section>
    </main>
    <!-- Footer -->
    <footer class="ft-container">
        <div class="ft-row ft-row-line">
            <!-- Logotipo -->
            <div class="ft-row-item ft-row-item-logo">
                <figure>
                    <img class="footer-logo" src="/imagen/logo-footer.png" alt="Logo Simplemente Juguetes">
                </figure>
                <p class="footer-description">En Simplemente Juguetes trabajamos para que todos los niños y sus familias puedan
                    encontrar ese juguete tan especial que recordarán con cariño toda su vida.</p>
            </div>
            <!-- Producto -->
            <div class="ft-row-item">
                <h4 class="ft-title">COMPRAS</h4>
                <ul class="ft-links-list">
                    <li class="ft-links-list-item"><a href="">Juegos y juguetes</a></li>
                    <li class="ft-links-list-item"><a href="">Personajes</a></li>
                    <li class="ft-links-list-item"><a href="">Edades</a></li>
                    <li class="ft-links-list-item"><a href="">Categorias</a></li>
                </ul>
            </div>
            <div class="ft-row-item">
                <h4 class="ft-title">CONTACTO</h4>
                <ul class="ft-links-list">
                    <li class="ft-links-list-item"><a href="">Atención al cliente</a></li>
                    <li class="ft-links-list-item"><a href="tel:1122341456"> <i class="fa-brands fa-whatsapp"></i>
                            1122341456</a>
                    </li>
                    <li class="ft-links-list-item"><a href="mailto:simplementejuguetes@gmail.com"> <i
                                class="fa-solid fa-envelope"></i>
                            simplementejuguetes@gmail.com</a></li>
                </ul>
            </div>
            <div class="ft-row-item">
                <h4 class="ft-title">NOSOTROS</h4>
                <ul class="ft-links-list">
                    <li class="ft-links-list-item"><a href="">Tiendas</a></li>
                    <li class="ft-links-list-item"><a href="">La marca</a></li>
                    <li class="ft-links-list-item"><a href="">Trabaja con nosotros</a></li>
                    <li class="ft-links-list-item"><a href="">Políticas de privacidad</a></li>
                </ul>
            </div>
            <div class="ft-row-item">
                <h4 class="ft-title">REDES</h4>
                <ul class="ft-social-list">
                    <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="ft-down">
            <div class="ft-legal">
                <ul class="ft-legal-list">
                    <li class="ft-legal-list-item"><a href="">Powered by Mercado Shops</a></li>
                    <li class="ft-legal-list-item"><a href="">vkdesign.cc</a></li>
                    <li class="ft-legal-list-item"><a href="">Avisos Legales</a></li>
                    <li class="ft-legal-list-item">Copyrigth© 2024 Simplemente Juguetes S.A.</li>
                    <li class="ft-legal-list-item">Todos los derechos
                        reservados </li>
                </ul>
            </div>
            <div class="ft-card">
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-visa"></i>
            </div>
        </div>
    </footer>
    <!-- Script Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>