<html>
    <%- include("./partials/head") %>
  <body class="body-dashboard">
    <%- include("./partials/header") %>
    <main class="main-dashboard">
        <%- include("./partials/dashbar") %>
    </main>
    <footer class="sub-footer">
    <%- include("./partials/footer") %>
    </footer>
  </body>
    </html>