<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Icon Simplemente Juguetes -->
    <link rel="icon" href="/imagen/panda-icon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
   <!-- Header -->
   <header class="header">
    <figure class="pandaHeader"><img src="../imagen/panda-logo.png" alt="Simplemente Juguetes"></figure>
    <h1>
        <p class="tituloNegro">SIMPLEMENTE</p>
        <p class="tituloBlanco">JUGUETES</p>
    </h1>
    <div class="selectoresHeader">
        <select class="">
            <option value="" selected hidden>JUEGOS Y JUGUETES</option>
            <option value=""></option>
        </select>
        <select class="">
            <option value="" selected hidden>EDADES</option>
            <option value=""></option>
        </select>
        <select class="">
            <option value="" selected hidden>PERSONAJES</option>
            <option value=""></option>
        </select>
    </div>
    <!--busqueda-->
    <div class="busquedaHeader">
        <input type="text" placeholder="Buscar...">
        <figure><i class="fa-solid fa-magnifying-glass"></i></figure>
    </div>
    <!--iconos del header-->
    <div class="iconosHeader">
        <a href=""><i class="fa-solid fa-heart"></i></a>
        <a href="/login"><i class="fa-solid fa-user"></i></a>
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    <!--ofertas y outlet-->
    <div class="ofertasYOutlet">
        <h3 class="ofertasHeader"><a href="/"><i class="fa-solid fa-fire-flame-curved"></i>OFERTAS</a></h3>
        <h3 class="outletHeader"><a href="">OUTLET</a></h3>
    </div>
    <figure class="barrasHeader"><i class="fa-solid fa-bars"></i></figure>
</header>
<main class="main-detail">

<!--PRODUCTO PRINCIPAL-->
    <section class="main-product">
        <img class="main-photo" src="/imagen/imagen_detail_main.jpg" alt="Imagen del producto">
        <div class="borde1"></div>
        <div class="container">
        <h1>Comisario Woody Toy Story Muñeco Coleccionable</h1>
        <h2>$58.999</h2>
        <p class="dues">en 12x $XXXX</p>
        <p class="payment">Metodos de pago</p>
        <div>
        <img src="/imagen/mastercard-buy.png" alt="Mastercard">
        <img src="/imagen/paypal-buy.png" alt="Paypal">
        <img src="/imagen/visa-buy.png" alt="VISA">
        </div>
    </div>
    <div class="photos2">
    <img class="secondary-photo" src="/imagen/imagen_detail_main.jpg" alt="Imagen del producto">
    <img class="secondary-photo" src="/imagen/imagen_detail_main.jpg" alt="Imagen del producto">
    <img class="secondary-photo" src="/imagen/imagen_detail_main.jpg" alt="Imagen del producto">
    <img class="secondary-photo" src="/imagen/imagen_detail_main.jpg" alt="Imagen del producto">
    <img class="secondary-photo" src="/imagen/imagen_detail_main.jpg" alt="Imagen del producto">
</div>
    </section>

<!--CARACTERISTICAS BASICAS-->

<div class="container-carac">
    <section class="characteristics">
        <table class="basics">
            <h2>Caracteristica</h2>
            <tr>
                <td class="attribute">Marca: </td>
                <td>Ejemplo</td>
            </tr>
            <tr>
                <td class="attribute">Es articulada: </td>
                <td>Ejemplo</td>
            </tr>
            <tr>
                <td class="attribute">Disponibilidad: </td>
                <td>Ejemplo</td>
            </tr>
            <tr>
                <td class="attribute">Edad recomendad: </td>
                <td>Ejemplo</td>
            </tr>
        </table>
    </section>

<!--COMPRAR-->    
    <section class="buy">
        <p class="amount">CANTIDAD</p>
        <div class="buttons">
        <a class="add" href="#">AGREGAR AL CARRITO</a>
        <a class="buy-now" href="#">COMPRAR AHORA</a>
        </div>
    </section>
</div>

<!--PRODUCTOS RELACIONADOS-->

    <section class="related-products">
        <h2>Productos Relacionados</h2>

        <section class="products">
        <article class="product">
            <a href=""><img src="/imagen/buzz_lightyear_product.png" alt="Producto 1"></a>
            <h3>Buzz Lightyear</h3>
            <p>$39.999</p>
        </article>

        <article class="product">
            <a href=""><img src="/imagen/jessievaquera_producto.jpg" alt="Producto 2"></a>
            <h3>Jessie Vaquera</h3>
            <p>$39.999</p>
        </article>

        <article class="product">
            <a href=""><img src="/imagen/rex_producto.png" alt="Producto 3"></a>
            <h3>Rex Dinosaurio</h3>
            <p>$29.999</p>
        </article>

        <article class="product">
            <a href=""><img src="/imagen/tiroalblanco_producto.png" alt="Producto 4"></a>
            <h3>Tiro al Blanco</h3>
            <p>$29.999</p>
        </article>

        <article class="product">
            <a href=""><img src="/imagen/forky_producto.jpg" alt="Producto 5"></a>
            <h3>Forky Muñeco</h3>
            <p>$39.999</p>
        </article>
        </section>
    </section>

<!--CARACTERISTICAS DEL PRODUCTO-->
    <section class="all-features">
        <h2>Caracteriscas del Producto</h2>
        
<section class="all-table">
        <table class="toy-information">
            <tr>
                <td class="esquina1">Fabricante</td>
                <td class="esquina2">Ejemplo</td>
            </tr>
    
            <tr>
                <td>Linea</td>
                <td>Ejemplo</td>
            </tr>
    
            <tr>
                <td>Coleccion</td>
                <td>Ejemplo</td>
            </tr>
    
            <tr>
                <td>Personaje</td>
                <td>Ejemplo</td>
            </tr>
    
            <tr>
                <td class="esquina3">Version del personaje</td>
                <td class="esquina4">Ejemplo</td>
            </tr>
        </table>

        <table class="more-information">
            <tr>
                <td class="esquina1">Edad minima recomendada</td>
                <td class="esquina2">Ejemplo</td>
            </tr>

            <tr>
                <td>Altura</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Profundida</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Ancho</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Materiales</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Es articulada</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Es coleccionable</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Incluye accesorios</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Es bobblehead</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td class="esquina3">Escala</td>
                <td class="esquina4">Ejemplo</td>
            </tr>
        </table>
    </section>    
</section>

    <section class="description">
            <h2>Descripcion</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex consequatur aut commodi dolorem corrupti a eius non! Maxime quaerat unde, beatae aspernatur dolor aliquam consectetur rerum temporibus, amet hic nihil? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia illum, sequi non totam, facilis a est expedita alias iusto iste, quae repudiandae reprehenderit ratione similique. Sequi, alias! Velit, quas odit.</p>
    </section>

</main>
   <!-- Footer -->
   <footer class="ft-container">
    <div class="ft-row ft-row-line">
        <!-- Logotipo -->
        <div class="ft-row-item ft-row-item-logo">
            <figure>
                <img class="footer-logo" src="/imagen/logo-footer.png" alt="Logo Simplemente Juguetes">
            </figure>
            <p>En Simplemente Juguetes trabajamos para que todos los niños y sus familias puedan
                encontrar ese juguete tan especial que recordarán con cariño toda su vida.</p>
        </div>
        <!-- Producto -->
        <div class="ft-row-item">
            <h4 class="ft-title">COMPRAS</h4>
            <ul class="ft-links-list">
                <li class="ft-links-list-item"><a href="">Juegos y juguetes</a></li>
                <li class="ft-links-list-item"><a href="">Personajes</a></li>
                <li class="ft-links-list-item"><a href="">Edades</a></li>
                <li class="ft-links-list-item"><a href="">Categorias</a></li>
            </ul>
        </div>
        <div class="ft-row-item">
            <h4 class="ft-title">CONTACTO</h4>
            <ul class="ft-links-list">
                <li class="ft-links-list-item"><a href="">Atención al cliente</a></li>
                <li class="ft-links-list-item"><a href="tel:1122341456"> <i class="fa-brands fa-whatsapp"></i>
                        1122341456</a>
                </li>
                <li class="ft-links-list-item"><a href="mailto:simplementejuguetes@gmail.com"> <i
                            class="fa-solid fa-envelope"></i>
                        simplementejuguetes@gmail.com</a></li>
            </ul>
        </div>
        <div class="ft-row-item">
            <h4 class="ft-title">NOSOTROS</h4>
            <ul class="ft-links-list">
                <li class="ft-links-list-item"><a href="">Tiendas</a></li>
                <li class="ft-links-list-item"><a href="">La marca</a></li>
                <li class="ft-links-list-item"><a href="">Trabaja con nosotros</a></li>
                <li class="ft-links-list-item"><a href="">Políticas de privacidad</a></li>
            </ul>
        </div>
        <div class="ft-row-item">
            <h4 class="ft-title">REDES</h4>
            <ul class="ft-social-list">
                <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="ft-down">
        <div class="ft-legal">
            <ul class="ft-legal-list">
                <li class="ft-legal-list-item"><a href="">Powered by Mercado Shops</a></li>
                <li class="ft-legal-list-item"><a href="">vkdesign.cc</a></li>
                <li class="ft-legal-list-item"><a href="">Avisos Legales</a></li>
                <li class="ft-legal-list-item">Copyrigth© 2024 Simplemente Juguetes S.A.</li>
                <li class="ft-legal-list-item">Todos los derechos
                    reservados </li>
            </ul>
        </div>
        <div class="ft-card">
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-visa"></i>
        </div>
    </div>
</footer>
<!-- Script Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>