<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito - SimplementeJuguetes</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Icon Simplemente Juguetes -->
    <link rel="icon" href="/imagen/panda-icon.ico" type="image/x-icon">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <figure class="pandaHeader"><img src="../imagen/panda-logo.png" alt="Simplemente Juguetes"></figure>
        <h1>
            <p class="tituloNegro">SIMPLEMENTE</p>
            <p class="tituloBlanco">JUGUETES</p>
        </h1>
        <div class="selectoresHeader">
            <select class="">
                <option value="" selected hidden>JUEGOS Y JUGUETES</option>
                <option value=""></option>
            </select>
            <select class="">
                <option value="" selected hidden>EDADES</option>
                <option value=""></option>
            </select>
            <select class="">
                <option value="" selected hidden>PERSONAJES</option>
                <option value=""></option>
            </select>
        </div>
        <!--busqueda-->
        <div class="busquedaHeader">
            <input type="text" placeholder="Buscar...">
            <figure><i class="fa-solid fa-magnifying-glass"></i></figure>
        </div>
        <!--iconos del header-->
        <div class="iconosHeader">
            <a href=""><i class="fa-solid fa-heart"></i></a>
            <a href="/login"><i class="fa-solid fa-user"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <!--ofertas y outlet-->
        <div class="ofertasYOutlet">
            <h3 class="ofertasHeader"><a href="/"><i class="fa-solid fa-fire-flame-curved"></i>OFERTAS</a></h3>
            <h3 class="outletHeader"><a href="">OUTLET</a></h3>
        </div>
        <figure class="barrasHeader"><i class="fa-solid fa-bars"></i></figure>
    </header>
    <main class="main-detail">

        <!--PRODUCTO PRINCIPAL-->
        <section class="main-product">
            <div class="container-left">
                <figure class="container-left-up">
                    <img class="main-photo" src="/imagen/imagen_detail_main.jpg" alt="Imagen del producto">
                </figure>
                <div class="container-left-down">
                    <img class="secondary-photo" src="/imagen/imagen_detail_main.jpg" alt="Imagen del producto">
                    <img class="secondary-photo" src="/imagen/imagen_detail_main.jpg" alt="Imagen del producto">
                    <img class="secondary-photo" src="/imagen/imagen_detail_main.jpg" alt="Imagen del producto">
                    <img class="secondary-photo" src="/imagen/imagen_detail_main.jpg" alt="Imagen del producto">
                    <img class="secondary-photo" src="/imagen/imagen_detail_main.jpg" alt="Imagen del producto">
                </div>
            </div>
            <div class="container-right">
                <div class="container-right-up">
                    <h1 class="cr-description">Comisario Woody Toy Story Muñeco Coleccionable</h1>
                    <p class="cr-article cr-details">Número de Articulo: 16536</p>
                    <h2 class="cr-price cr-details">$58.999</h2>
                    <p class="cr-dues cr-details">en 12x $XXXX</p>
                    <p class="cr-payment cr-details">Metodos de pago</p>
                    <figure class="logo-cards">
                        <i class="fa-brands fa-cc-mastercard custom-cards"></i>
                        <i class="fa-brands fa-cc-paypal custom-cards""></i>
                    <i class=" fa-brands fa-cc-visa custom-cards""></i>
                    </figure>
                </div>
                <div class="container-right-down">
                    <!-- Characteristics -->
                    <div class="cr-title-characteristics">
                        <h2>Caracteristicas</h2>
                    </div>
                    <div class="cr-description-characteristics">
                        <p class="cr-text-red">Marca:<span class="cr-text-gris">Toy Story</span></p>
                        <p class="cr-text-red">SKU:<span class="cr-text-gris">12345</span></p>
                        <p class="cr-text-red">Disponibilidad:<span class="cr-text-gris">En Stock</span></p>
                        <p class="cr-text-red">Edad recomendada:<span class="cr-text-gris">5 años</span></p>
                    </div>
                    <!-- Amount -->
                    <div class="cr-amount">
                        <p class="lbl-amount" for="">CANTIDAD</p>
                        <div class="lbl-amount-up-down">
                            <span>-</span>
                            <span>1</span>
                            <span>+</span>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="cr-button">
                        <button type="submit" class="btn btn-custom-white">AGREGAR AL CARRITO</button>
                        <button type="submit" class="btn btn-custom-green">COMPRAR AHORA</button>
                    </div>
                </div>
            </div>
        </section>

        <!--PRODUCTOS RELACIONADOS-->
        <section class="related-products">
            <div class="container-related-products">
                <div class="rp-title-products">
                    <h2>Productos Relacionados</h2>
                </div>
                <section class="rp-products">
                    <article class="rp-product">
                        <a class="rp-product-link" href=""><img class="rp-product-img"
                                src="/imagen/buzz_lightyear_product.jpg" alt="Producto 1"></a>
                        <h3 class="rp-product-title">Buzz Lightyear</h3>
                        <p class="rp-product-price">$39.999</p>
                    </article>

                    <article class="rp-product">
                        <a class="rp-product-link" href=""><img class="rp-product-img"
                                src="/imagen/jessievaquera_producto.jpg" alt="Producto 2"></a>
                        <h3 class="rp-product-title">Jessi Vaquera</h3>
                        <p class="rp-product-price">$39.999</p>
                    </article>

                    <article class="rp-product">
                        <a class="rp-product-link" href=""><img class="rp-product-img" src="/imagen/rex_producto.jpg"
                                alt="Producto 3"></a>
                        <h3 class="rp-product-title">Rex Dinosaurio</h3>
                        <p class="rp-product-price">$39.999</p>
                    </article>

                    <article class="rp-product">
                        <a class="rp-product-link" href=""><img class="rp-product-img"
                                src="/imagen/tiroalblanco_producto.jpg" alt="Producto 4"></a>
                        <h3 class="rp-product-title">Tiro al Blanco</h3>
                        <p class="rp-product-price">$29.999</p>
                    </article>

                    <article class="rp-product">
                        <a class="rp-product-link" href=""><img class="rp-product-img" src="/imagen/forky_producto.jpg"
                                alt="Producto 5"></a>
                        <h3 class="rp-product-title">Forky Muñeco</h3>
                        <p class="rp-product-price">$39.999</p>
                    </article>

                </section>
            </div>
        </section>

        <!--CARACTERISTICAS DEL PRODUCTO-->
        <section class="all-features">
            <div class="container-all-features">
                <div class="af-title">
                    <h2>Caracteriscas del Producto</h2>
                </div>
                <section class="all-table">
                    <table class="toy-information">
                        <tr>
                            <td class="esquina1">Fabricante</td>
                            <td class="esquina2">Thnkway Toys</td>
                        </tr>

                        <tr>
                            <td>Linea</td>
                            <td>Toy Story 4</td>
                        </tr>

                        <tr>
                            <td>Coleccion</td>
                            <td>Toy Story</td>
                        </tr>

                        <tr>
                            <td>Personaje</td>
                            <td>Woody</td>
                        </tr>

                        <tr>
                            <td class="esquina3">Version del personaje</td>
                            <td class="esquina4">Woody</td>
                        </tr>
                    </table>

                    <table class="more-information">
                        <tr>
                            <td class="esquina1">Edad minima recomendada</td>
                            <td class="esquina2">4 años</td>
                        </tr>

                        <tr>
                            <td>Altura</td>
                            <td>40 cm</td>
                        </tr>

                        <tr>
                            <td>Profundida</td>
                            <td>5 cm</td>
                        </tr>

                        <tr>
                            <td>Ancho</td>
                            <td>6 cm</td>
                        </tr>

                        <tr>
                            <td>Materiales</td>
                            <td>Plastico</td>
                        </tr>

                        <tr>
                            <td>Es articulada</td>
                            <td>Si</td>
                        </tr>

                        <tr>
                            <td>Es coleccionable</td>
                            <td>Si</td>
                        </tr>

                        <tr>
                            <td>Incluye accesorios</td>
                            <td>No</td>
                        </tr>

                        <tr>
                            <td>Es bobblehead</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td class="esquina3">Escala</td>
                            <td class="esquina4">40 cm</td>
                        </tr>
                    </table>
                </section>
            </div>
        </section>

        <section class="description">
            <div class="container-description">
                <div class="rp-title-description">
                    <h2>Descripcion</h2>
                </div>
                <div>
                    <p class="paragraph">Con Woody de Toy Story de la línea Toy Story 4 de Thinkway Toys las horas de
                        diversión están
                        aseguradas. Podrás jugar con ellos siguiendo sus historias o coleccionarlos el tiempo que
                        quieras.</p>
                    <p class="paragraph">Materiales noblesLas figuras de acción están hechas de plástico lo que asegura
                        que sean amables y
                        suaves al tacto, diferenciando las distintas texturas y relieves del cuerpo de los personajes.
                    </p>
                    <p class="paragraph">Ideal para coleccionistasUna de las actividades que podrás hacer con este tipo de figuras es
                        coleccionarlas y guardarlas en un lugar especial. A medida que conozcas más y más, tu colección irá
                        creciendo y será más variada.</p>
                    <p class="paragraph">Juguetes articuladosAl tener marcadas las articulaciones podrás manejar y acomodar tus figuras
                        como más te guste. Con ellas, vas a poder crear historias en la que los personajes puedan movilizarse
                        y cobrar vida</p>
                </div>
            </div>


        </section>

    </main>
    <!-- Footer -->
    <footer class="ft-container">
        <div class="ft-row ft-row-line">
            <!-- Logotipo -->
            <div class="ft-row-item ft-row-item-logo">
                <figure>
                    <img class="footer-logo" src="/imagen/logo-footer.png" alt="Logo Simplemente Juguetes">
                </figure>
                <p>En Simplemente Juguetes trabajamos para que todos los niños y sus familias puedan
                    encontrar ese juguete tan especial que recordarán con cariño toda su vida.</p>
            </div>
            <!-- Producto -->
            <div class="ft-row-item">
                <h4 class="ft-title">COMPRAS</h4>
                <ul class="ft-links-list">
                    <li class="ft-links-list-item"><a href="">Juegos y juguetes</a></li>
                    <li class="ft-links-list-item"><a href="">Personajes</a></li>
                    <li class="ft-links-list-item"><a href="">Edades</a></li>
                    <li class="ft-links-list-item"><a href="">Categorias</a></li>
                </ul>
            </div>
            <div class="ft-row-item">
                <h4 class="ft-title">CONTACTO</h4>
                <ul class="ft-links-list">
                    <li class="ft-links-list-item"><a href="">Atención al cliente</a></li>
                    <li class="ft-links-list-item"><a href="tel:1122341456"> <i class="fa-brands fa-whatsapp"></i>
                            1122341456</a>
                    </li>
                    <li class="ft-links-list-item"><a href="mailto:simplementejuguetes@gmail.com"> <i
                                class="fa-solid fa-envelope"></i>
                            simplementejuguetes@gmail.com</a></li>
                </ul>
            </div>
            <div class="ft-row-item">
                <h4 class="ft-title">NOSOTROS</h4>
                <ul class="ft-links-list">
                    <li class="ft-links-list-item"><a href="">Tiendas</a></li>
                    <li class="ft-links-list-item"><a href="">La marca</a></li>
                    <li class="ft-links-list-item"><a href="">Trabaja con nosotros</a></li>
                    <li class="ft-links-list-item"><a href="">Políticas de privacidad</a></li>
                </ul>
            </div>
            <div class="ft-row-item">
                <h4 class="ft-title">REDES</h4>
                <ul class="ft-social-list">
                    <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="ft-down">
            <div class="ft-legal">
                <ul class="ft-legal-list">
                    <li class="ft-legal-list-item"><a href="">Powered by Mercado Shops</a></li>
                    <li class="ft-legal-list-item"><a href="">vkdesign.cc</a></li>
                    <li class="ft-legal-list-item"><a href="">Avisos Legales</a></li>
                    <li class="ft-legal-list-item">Copyrigth© 2024 Simplemente Juguetes S.A.</li>
                    <li class="ft-legal-list-item">Todos los derechos
                        reservados </li>
                </ul>
            </div>
            <div class="ft-card">
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-visa"></i>
            </div>
        </div>
    </footer>
    <!-- Script Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>