<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
</header>

<main class="main">

<!--PRODUCTO PRINCIPAL-->
    <section class="main-product">
        <img class="main-photo" src="/imagen/imagen_detail_main.jpg" alt="Imagen del producto">
        
        <div class="container">
        <h1>Comisario Woody Toy Story Muñeco Coleccionable</h1>
        <h2>$58.999</h2>
        <p class="dues">en 12x $XXXX</p>
        <p class="payment">Metodos de pago</p>
        <img src="/imagen/mastercard-buy.png" alt="Mastercard">
        <img src="/imagen/paypal-buy.png" alt="Paypal">
        <img src="/imagen/visa-buy.png" alt="VISA">
        </div>

    </section>

<!--CARACTERISTICAS BASICAS-->

<div class="container">
    <section class="characteristics">
        <table class="basics">
            <h2>Caracteristica</h2>
            <tr>
                <td class="attribute">Marca: </td>
                <td>Ejemplo</td>
            </tr>
            <tr>
                <td class="attribute">Es articulada: </td>
                <td>Ejemplo</td>
            </tr>
            <tr>
                <td class="attribute">Disponibilidad: </td>
                <td>Ejemplo</td>
            </tr>
            <tr>
                <td class="attribute">Edad recomendad: </td>
                <td>Ejemplo</td>
            </tr>
        </table>
    </section>

<!--COMPRAR-->    
    <section class="buy">
        <p class="amount">CANTIDAD</p>
        <div class="buttons">
        <a class="add" href="#">AGREGAR AL CARRITO</a>
        <a class="buy-now" href="#">COMPRAR AHORA</a>
        </div>
    </section>
</div>

<!--PRODUCTOS RELACIONADOS-->

    <section class="related-products">
        <h2>Productos Relacionados</h2>

        <section class="products">
        <article class="product">
            <a href=""><img src="/imagen/buzz_lightyear_product.png" alt="Producto 1"></a>
            <h3>Buzz Lightyear</h3>
            <p>$39.999</p>
        </article>

        <article class="product">
            <a href=""><img src="/imagen/jessievaquera_producto.jpg" alt="Producto 2"></a>
            <h3>Jessie Vaquera</h3>
            <p>$39.999</p>
        </article>

        <article class="product">
            <a href=""><img src="/imagen/rex_producto.png" alt="Producto 3"></a>
            <h3>Rex Dinosaurio</h3>
            <p>$29.999</p>
        </article>

        <article class="product">
            <a href=""><img src="/imagen/tiroalblanco_producto.png" alt="Producto 4"></a>
            <h3>Tiro al Blanco</h3>
            <p>$29.999</p>
        </article>

        <article class="product">
            <a href=""><img src="/imagen/forky_producto.jpg" alt="Producto 5"></a>
            <h3>Forky Muñeco</h3>
            <p>$39.999</p>
        </article>
        </section>
    </section>

<!--CARACTERISTICAS DEL PRODUCTO-->
    <section class="all-features">
        <h2>Caracteriscas del Producto</h2>
        
<section class="all-table">
        <table class="toy-information">
            <tr>
                <td>Fabricante</td>
                <td>Ejemplo</td>
            </tr>
    
            <tr>
                <td>Linea</td>
                <td>Ejemplo</td>
            </tr>
    
            <tr>
                <td>Coleccion</td>
                <td>Ejemplo</td>
            </tr>
    
            <tr>
                <td>Personaje</td>
                <td>Ejemplo</td>
            </tr>
    
            <tr>
                <td>Version del personaje</td>
                <td>Ejemplo</td>
            </tr>
        </table>

        <table class="more-information">
            <tr>
                <td>Edad minima recomendada</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Altura</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Profundida</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Ancho</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Materiales</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Es articulada</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Es coleccionable</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Incluye accesorios</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Es bobblehead</td>
                <td>Ejemplo</td>
            </tr>

            <tr>
                <td>Escala</td>
                <td>Ejemplo</td>
            </tr>
        </table>
    </section>    
</section>

    <section class="description">
            <h2>Descripcion</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex consequatur aut commodi dolorem corrupti a eius non! Maxime quaerat unde, beatae aspernatur dolor aliquam consectetur rerum temporibus, amet hic nihil? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia illum, sequi non totam, facilis a est expedita alias iusto iste, quae repudiandae reprehenderit ratione similique. Sequi, alias! Velit, quas odit.</p>
    </section>

</main>

<footer>
</footer>
</body>
</html>