<!DOCTYPE html>
<html lang="es">
   <%- include("./partials/head") %>

    <body class="bodyRegistro">
    <!--   HEADER    -->
    <%- include("./partials/header") %>
<!--     MAIN    -->
<main class="mainHome">
    <!--BANNER"tenemos lo mejor para tus hijos"-->
 <img src="../imagen/home/banner1.jpg" alt="">
 <h2 class="titulosHome">JUGUETES PARA TODAS LAS EDADES</h2>
 <div class="diverHome">
    <img src="../imagen/home/art1.png" alt="">
    <img src="../imagen/home/art2.jpg" alt="">
    <img src="../imagen/home/art3.jpg" alt="">
    <img src="../imagen/home/art4.jfif" alt="">
    <p>DIVERSIÓN ASEGURADA</p>
 </div>

 <!--//////////////// ICONOS //////////////////-->
<div class="titulosHome">
    <!--PAGOS-->
<div class="pagosHome">
    <i class="fa-solid fa-credit-card"></i><p>3,6 y 12 PAGOS SIN INTERES SELECCIONANDO MERCADO PAGO Con tarjertas de bancos adheridos</p>
</div>
<!--ENVIOS-->
<div class="enviosHome">
    <i class="fa-solid fa-truck"></i><p>ENVÍOS GRATIS DESDE $19990</p></div>
    <!--DESCUENTO-->
<div class="descuentoHome">
    <i class="fa-solid fa-dollar-sign"></i><p>15% DE DESCUENTO EFECTIVO O TRANSFERENCIA BANCARIA</p>
</div>
</div>


<!--///////////////// NOVEDADES //////////////////-->

<!--banner-->
<img src="../imagen/home/banner2.jpg" alt="">
<!--articulos-->
<div class="articulosHome">
    <h2>NOVEDADES SIMPLEMENTE JUGUETES</h2>
    <article>
        <img src="../imagen/home/nov1.jpg" alt="">
        <div>
            <p class="tituloProduc">TRICICLO CON CAÑO REFORZADO</p>
            <p class="precioAnt">$32990</p>
            <p class="precioProduc">$25990 </p>
            <a href="">COMPRAR</a>
        </div>
    </article>
    <article>
        <img src="../imagen/home/nov2.png" alt="">
        <div>
            <p class="tituloProduc">SALVAVIDAS BESTWAYS PERFUM</p>
            <p class="precioAnt">$8490</p>
            <p class="precioProduc">$5990</p>
            <a href="">COMPRAR</a>
        </div>
    </article>
    <article>
        <img src="../imagen/home/nov3.jpg" alt="">
        <div>
            <p class="tituloProduc">ROBOT ARTICULADO BESTWAYS</p>
            <p class="precioAnt">$23990</p>
            <p class="precioProduc">$17990</p>
            <a href="">COMPRAR</a>
        </div>
    </article>
    <article>
        <img src="../imagen/home/nov4.png" alt="">
        <div>
            <p class="tituloProduc">PISTOLA DE AGUA BATMAN</p>
            <p class="precioAnt">$8990</p>
            <p class="precioProduc">$5590</p>
            <a href="">COMPRAR</a>
        </div>
    </article>
</div>

<!--/////////////// SEDE CENTRAL /////////////-->
<div class="titulosHome">
    <h2>SIMPLEMENTE JUGUETES SEDE CENTRAL</h2>
</div>
<div class="mapa-home">
    <figure>
    <img src="../imagen/home/local.png" alt="">
</figure>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29306771.325544856!2d-33.6754848!3d63.363602!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses!2sar!4v1707164547011!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</main>
   <!-- Footer EJS -->
   <%- include("./partials/footer") %>

<!-- Script Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    </body>
</html>


