<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
<header>
    <nav>
<ul>
    <h1>simplemente juguetes</h1>
    <nav>
        <ul>
            <li><a href="/public/imagen/logo"></a></li>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="productos.html">Productos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="login.html">login</a></li>
            <li><a href="registro.html">registro</a></li>
        </ul>
</ul>
    </nav>
</header>
<main>
<form action="" method="post">
    <div>
    <label for="nombre">nombre</label>
    <input type="text">
</div>
<div>
    <label for="contraseña">contraseña</label>
    <input type="password">
</div>
<div>
    <label for="recuerdame">recuerdame</label>
<input type="checkbox" name="recuerdame" id="recuerdame">
</div>
<div>
<button type="submit">enviar</button>
</div>
<button type="reset">cancelar</button>
</form>
</main>


    <footer>

    </footer>
</body>
</html>