
main {
    background-color: #fff;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.historia {
    padding: 40px 0;
    text-align: center;
}

.historia h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.imagen img {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    
}

.imagen img:hover {
    transform: scale(1.05);
}

.historia p {
    font-size: 1.2em;
   
    text-align: justify;
    margin: 10px auto;
    padding: 10px 20px;
}