/*====== Add Products ======*/
.container-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }

.bg-container-title-custom {
    background-color: var(--orange) !important;
}

.color-title-custom {
    text-align: center;
    color: var(--white) !important;
}

.btn-custom-register{
    background: var(--green)!important;
    color: var(--white)!important;
}
.btn-custom-cancel{
    background-color: var(--orange)!important;
    color: var(--white)!important;
}

