body{margin: 0;
padding: 0;
box-sizing: border-box;
}

.btn-volver{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:start;
    margin-left: 400px;
}
.form-edit{
 
    padding: 10px;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 margin-left: 400px;
    margin-bottom: 80px;
    border-radius: 5px;
    box-shadow: 3px 0px 20px 10px rgba(0,0,0,0.2);
}

.h2-edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6c757d;
color: white;

}

.form-label{
    background-color:#ff9900;
    color: white;
    border-radius: 3px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}



.div_edit_radios{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
input{max-width: 300px;}

textarea{max-width: 300px;}
.btn{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.edad-edit{
    display: flex;
} 
.label-option{background-color: orange;
}
.f-l{color: antiquewhite;}
