footer.ft-container {
  background-color: var(--green);
  width: 100%;
  color: var(--white);
  text-align: center;
  padding: 0px 30px 30px 30px;
}

footer.ft-container div.ft-row {
  display: flex;
  flex-direction: column;
}

footer.ft-container div.ft-row div.ft-row-item {
  border-bottom: 1px var(--white) solid;
  padding: 1.25rem;
}

footer.ft-container div.ft-row div.ft-row-item figure {
  margin: 0px;
}

footer.ft-container div.ft-row div.ft-row-item figure img {
  width: 40%;
  max-width: 50%;
}

footer.ft-container div.ft-row div.ft-row-item p {
}

footer.ft-container div.ft-row div.ft-row-item h4.ft-title {
  font-size: 1.375rem;
  padding-bottom: 0.1rem;
}

footer.ft-container div.ft-row div.ft-row-item ul.ft-links-list {
    padding: 0px;
}

footer.ft-container
  div.ft-row
  div.ft-row-item
  ul.ft-links-list
  li.ft-links-list-item {
  list-style: none;
  padding-bottom: 0.6rem;
}

footer.ft-container
  div.ft-row
  div.ft-row-item
  ul.ft-links-list
  li.ft-links-list-item
  a {
  color: var(--white);
  text-decoration: none;
}

footer.ft-container div.ft-row div.ft-row-item ul.ft-social-list {
  display: flex;
  justify-content: center;
  padding: 0px;
}
footer.ft-container
  div.ft-row
  div.ft-row-item
  ul.ft-social-list
  li.ft-social-list-item {
  font-size: 1.25rem;
  margin: 0.6rem;
  list-style: none;
}
footer.ft-container
  div.ft-row
  div.ft-row-item
  ul.ft-social-list
  li.ft-social-list-item
  a {
  color: var(--white);
}
footer.ft-container div.ft-down {
}
footer.ft-container div.ft-down div.ft-legal {
}
footer.ft-container div.ft-down div.ft-legal ul.ft-legal-list {padding: 0px;}
footer.ft-container
  div.ft-down
  div.ft-legal
  ul.ft-legal-list
  li.ft-legal-list-item {
  padding-bottom: 0.6rem;
  list-style: none;
}
footer.ft-container
  div.ft-down
  div.ft-legal
  ul.ft-legal-list
  li.ft-legal-list-item
  a {
  color: var(--white);
  text-decoration: none;
}

footer.ft-container div.ft-down div.ft-card {
  font-size: 40px;
}

footer.ft-container div.ft-down div.ft-card i {
}

/**Tablet**/
@media (min-device-width: 426px) {
  footer.ft-container {
  }

  footer.ft-container div.ft-row {
    flex-direction: row;
    justify-content: space-evenly;
  }

  footer.ft-container div.ft-row div.ft-row-item {
    text-align: left;

  }

  footer.ft-container div.ft-row div.ft-row-item figure {
    text-align: center;
  }

  footer.ft-container div.ft-row div.ft-row-item figure img {
    width: 60%;
    max-width: 70%;
  }

  footer.ft-container div.ft-row div.ft-row-item p {
    text-align: center;
    font-size: 0.9rem;
  }

  footer.ft-container div.ft-row div.ft-row-item h4.ft-title {
  }

  footer.ft-container div.ft-row div.ft-row-item ul.ft-links-list {
    font-size: 0.9rem;
  }

  footer.ft-container
    div.ft-row
    div.ft-row-item
    ul.ft-links-list
    li.ft-links-list-item {
  }

  footer.ft-container
    div.ft-row
    div.ft-row-item
    ul.ft-links-list
    li.ft-links-list-item
    a {
  }

  footer.ft-container div.ft-row div.ft-row-item ul.ft-social-list {
    flex-direction: column;
  }
  footer.ft-container
    div.ft-row
    div.ft-row-item
    ul.ft-social-list
    li.ft-social-list-item {
    margin-left: 0px;
    margin-top: 0px;
  }
  footer.ft-container
    div.ft-row
    div.ft-row-item
    ul.ft-social-list
    li.ft-social-list-item
    a {
  }
  footer.ft-container div.ft-down {
  }
  footer.ft-container div.ft-down div.ft-legal {
    font-size: 0.9rem;
  }
  footer.ft-container div.ft-down div.ft-legal ul.ft-legal-list {
    display: flex;
    justify-content: space-around;
  }
  footer.ft-container
    div.ft-down
    div.ft-legal
    ul.ft-legal-list
    li.ft-legal-list-item {
  }
  footer.ft-container
    div.ft-down
    div.ft-legal
    ul.ft-legal-list
    li.ft-legal-list-item
    a {
  }

  footer.ft-container div.ft-down div.ft-card {
  }

  footer.ft-container div.ft-down div.ft-card i {
  }
}

/**Desktop**/
@media (min-device-width: 769px) {
  footer.ft-container {
  }

  footer.ft-container div.ft-row {

  }

  footer.ft-container div.ft-row div.ft-row-item {

  }

  footer.ft-container div.ft-row div.ft-row-item figure {

  }

  footer.ft-container div.ft-row div.ft-row-item figure img {

  }

  footer.ft-container div.ft-row div.ft-row-item p {

  }

  footer.ft-container div.ft-row div.ft-row-item h4.ft-title {
  }

  footer.ft-container div.ft-row div.ft-row-item ul.ft-links-list {

  }

  footer.ft-container
    div.ft-row
    div.ft-row-item
    ul.ft-links-list
    li.ft-links-list-item {
  }

  footer.ft-container
    div.ft-row
    div.ft-row-item
    ul.ft-links-list
    li.ft-links-list-item
    a {
  }

  footer.ft-container div.ft-row div.ft-row-item ul.ft-social-list {

  }
  footer.ft-container
    div.ft-row
    div.ft-row-item
    ul.ft-social-list
    li.ft-social-list-item {

  }
  footer.ft-container
    div.ft-row
    div.ft-row-item
    ul.ft-social-list
    li.ft-social-list-item
    a {
  }
  footer.ft-container div.ft-down {
  display: flex;
  justify-content: space-between;
  }
  footer.ft-container div.ft-down div.ft-legal {

  }
  footer.ft-container div.ft-down div.ft-legal ul.ft-legal-list {

gap: 20px;

}
  footer.ft-container
    div.ft-down
    div.ft-legal
    ul.ft-legal-list
    li.ft-legal-list-item {
  }
  footer.ft-container
    div.ft-down
    div.ft-legal
    ul.ft-legal-list
    li.ft-legal-list-item
    a {
  }

  footer.ft-container div.ft-down div.ft-card {
  }

  footer.ft-container div.ft-down div.ft-card i {
  }
}
