:root {
  --green: #2d8f2c;
  --white: #fff;
  --red: #e2001a;
  --orange: #ff9900;
  --lightorange: #ecb86a;
  --blanco: white;
  --gris: #d9d9d9;
  --grisObs: #8a8a8a;
  --azul: #5aa6d7;
  --black: #000;
}

body {
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}
/*
a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
*/
figure.figureDetDin{
    height: 150px;
    width: 150px;
}