.header {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    background: var(--red);
    height: 60px;
    flex-direction: row;
    justify-content: space-around;
    order: 1;
}

.header figure {
    height: 40px;
    margin: 0;
    width: 40px;
}

.header figure.pandaHeader {
    background: rgba(0, 0, 0, 0.1);
    width: 50px;
    padding: 5px;
    border: 1px solid;
    border-radius: 100%;
    height: 50px;
}

.header figure img {
    width: 100%;
    height: 100%;
}

.header h1 {
    display: none;
}

.header div.selectoresHeader {
    display: none;
}

.header div.selectoresHeader select {}

.header div.selectoresHeader select option {}

.busquedaHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    overflow: hidden; 
    width: 300px; 
}

/* Estilo del campo de texto */
.search-form_input {
    flex-grow: 1; 
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 4px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0; 
}

/* Estilo del botón */
.search-form_button {
    padding: 8px 12px;
    background-color: var(--redblack); 
    color: var(--white); 
    border: none;
    border-radius: 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Añade una transición suave */
}

/* Cambiar color y tamaño al pasar el ratón */
.search-form_button:hover {
    background-color: rgb(161, 3, 3); /* Color de fondo al pasar el ratón */
    color: var(--white); 
    transform: scale(1.1); /* Aumenta el tamaño a 110% */
}

/* Estilo del ícono dentro del botón */


.header div.iconosHeader {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.header div.iconosHeader a {
    color: white;
    text-decoration: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    padding-right: 10px;
    padding-left: 0px;
    border-radius: 10px;
}

.header div.iconosHeader a:hover {
    transform: scale(1.2); /* Aumenta el tamaño al 110% */
    transition: transform 0.2s ease-in-out; /* Suaviza la transformación */
}

.header div.iconosHeader a i {
   color: var(--white);
   margin: 15px;
}

.header div.ofertasYOutlet {
    display: none;
}

.header div.ofertasYOutlet h3 {}

.header div.ofertasYOutlet h3.ofertasHeader {}

.header div.ofertasYOutlet p.administrator a{
    background-color: var(--green);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 0 20px;
}

.header div.ofertasYOutlet h3.outletHeader {}

.header figure.barrasHeader {
    width: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header figure.barrasHeader i {
    color: var(--white);
}
    
/*/////////TABLET//////////*/

@media(min-device-width: 426px) {
    .header {
        height: 190px;
    }

    .header figure {}

    .header figure img {}

    .header h1 {
        margin-left: 20px;
        display: flex !important;
        width: 30%;
        font-size: 2.1vw;
        display: inline-block;
    }

    .header h1 p.tituloNegro {
        margin-left: 10px;
    }

    .header h1 p.tituloBlanco {
        color: var(--white);
    }

    .header div.selectoresHeader {
    }

    .header div.selectoresHeader select {}

    .header div.selectoresHeader select option {}

    .header div.busquedaHeader {
        border-radius: 5px;
        width: 20%;
    }

    .header div.busquedaHeader input {}

    .header div.busquedaHeader figure {}

    .header div.busquedaHeader figure i {}

     /* Estilos generales */
  .header div.iconosHeader {
    display: flex;
    flex-direction: column; /* Contenedor principal en columna para colocar mensaje encima */
    align-items: flex-start; /* Alineación al inicio */
    
    /*AOE*/
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Estilos para el mensaje del administrador */
.header div.iconosHeader .admin-view {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el contenido centrado horizontalmente */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.header div.iconosHeader .welcome {
    font-weight: bold;
    color: var(--white); /* Color destacado para el mensaje */
    font-size: 12px;
    background-color: var(--redblack);
    margin-bottom: 1px; /* Espacio entre el mensaje y los botones */
    padding: 3px 8px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Añade una transición suave */
    /*
     font-weight: bold;
    color: var(--white); 
    font-size: 12px;
    background-color: var(--green);
    margin-bottom: 1px; 
    padding: 3px 8px;
    border-radius: 6px;
    margin-left: auto; 
    */
}

/* Cambiar color y tamaño al pasar el ratón */
.header div.iconosHeader .welcome:hover {
    background-color: var(--green);
    color: var(--white); 
    transform: scale(1.4);
}

/* Estilos para los enlaces del administrador */
.header div.iconosHeader .admin-links {
    display: flex; /* Alinea los enlaces en una fila */
    gap: 15px;
}

/* Estilos para los enlaces */
.header div.iconosHeader a {
   /*  color: white;
    text-decoration: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 5px 10px; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el  y el texto */
}

/* Efecto hover en enlaces */
.header div.iconosHeader a:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease-in-out;
}

/* Estilos para los iconos */
.header div.iconosHeader a i {
    color: var(--white);
}

    .header div.ofertasYOutlet {}

    .header div.ofertasYOutlet h3 {}

    .header div.ofertasYOutlet h3.ofertasHeader {}

    .header div.ofertasYOutlet h3.outletHeader {}

    .header figure.barrasHeader {
        display: none;
    }

    .header figure.barrasHeader i {}

    .header figure.pandaHeader {
        margin-right: -40px;
        height: 80px;
        width: 80px;
        background: rgba(0, 0, 0, 0);
        border: none;
    }
}

/*/////////ESCRITORIO//////////*/

@media(min-device-width: 769px) {
    .header {
        position: relative;
        height: 20%;
    }

    .header figure {}

    .header figure.pandaHeader {
        width: 100px;
        height: 100px;
    }

    .header figure img {}

    .header h1 {
        font-size: 2vw;
        margin: 0;
        margin-top: 19px;
        align-self: start;
    }

    .header h1 p.tituloNegro{
        margin-right: 10px;
    }

    .header h1 p.tituloBlanco {

    }

    .header div.selectoresHeader {
        margin-top: 3%;
        display: inline-block;
        align-self: end;
        margin-bottom: 21px;
        margin-left: -36vw;
    }

    .header div.selectoresHeader a {
        font-size: 1.4vw;
        color: var(--white);
        background: rgba(0, 0, 0, 0);
        text-decoration: none;
        margin-left: 1px;
        padding: 3px;

    }

    .header div.selectoresHeader select option {}

    .header div.busquedaHeader {
        height: 35px;
    }

    .header div.busquedaHeader input {}

    .header div.busquedaHeader figure {}

    .header div.busquedaHeader figure i {}

  /* Estilos generales */
  .header div.iconosHeader {
    display: flex;
    flex-direction: column; /* Contenedor principal en columna para colocar mensaje encima */
    align-items: flex-start; /* Alineación al inicio */
    gap: 3px;
    
    /*AOE*/
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Estilos para el mensaje del administrador */
.header div.iconosHeader .admin-view {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el contenido centrado horizontalmente */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.header div.iconosHeader .welcome {
    font-weight: bold;
    color: var(--white); /* Color destacado para el mensaje */
    font-size: 12px;
    background-color: var(--redblack);
    margin-bottom: 1px; /* Espacio entre el mensaje y los botones */
    padding: 3px 8px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Añade una transición suave */
    /*
     font-weight: bold;
    color: var(--white); 
    font-size: 12px;
    background-color: var(--green);
    margin-bottom: 1px; 
    padding: 3px 8px;
    border-radius: 6px;
    margin-left: auto; 
    */
}

/* Cambiar color y tamaño al pasar el ratón */
.header div.iconosHeader .welcome:hover {
    background-color: var(--green);
    color: var(--white); 
    transform: scale(1.4);
}

/* Estilos para los enlaces del administrador */
.header div.iconosHeader .admin-links {
    display: flex; /* Alinea los enlaces en una fila */
    gap: 15px;
}

/* Estilos para los enlaces */
.header div.iconosHeader a {
   /*  color: white;
    text-decoration: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 5px 10px; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el  y el texto */
}

/* Efecto hover en enlaces */
.header div.iconosHeader a:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease-in-out;
}

/* Estilos para los iconos */
.header div.iconosHeader a i {
    color: var(--white);
}

    
    .header div  .btn-de-sesion{
padding: 3px;
border-radius: 5px;
    }
.header div  .btn-de-sesion:hover{
    background-color: #c56308;  
    color: #000000; 

};
    .header div.ofertasYOutlet {
        flex-wrap: wrap;
        right: 30px;
        top: 10px;
        position: absolute;
        display: flex;
        gap: 20px;
    }

    .header div.ofertasYOutlet h3 {}

    .header div.ofertasYOutlet h3.ofertasHeader {
        height: 23px;
        width: 85px;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 5px;
        margin: 0;
        background: var(--green);
    }

    .header div.ofertasYOutlet h3.outletHeader {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 23px;
        width: 85px;
        border-radius: 5px;
        padding: 10px;
        background: var(--orange);
        margin: 0;
    }

    .header div.ofertasYOutlet h3.outletHeader a {
        color: var(--white);
        font-size: 12px;
        text-decoration: none;
    }

    .header div.ofertasYOutlet h3.ofertasHeader a {
        text-decoration: none;
        font-size: 12px;
        color: var(--white);
    }

    .header div.ofertasYOutlet h3.ofertasHeader a i {
        color: var(--red);
    }

    .header figure.barrasHeader {
        display: none;
    }

    .header figure.barrasHeader i {}
}



