.header{
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    background: var(--red);
    height: 60px;
    flex-direction: row;
    justify-content: space-around;
}
.header figure{
    height: 40px;
    margin: 0;
    width: 40px;
}
.header figure.pandaHeader{
    background: rgba(0,0,0,0.1);
    width: 50px;
    padding: 5px;
    border: 1px solid;
    border-radius: 100%;
    height: 50px;
}
.header figure img{
    width: 100%;
    height: 100%;
}
.header h1{
    display: none;
}
.header div.selectoresHeader{
    display: none;
}
.header div.selectoresHeader select{}
.header div.selectoresHeader select option{}
.header div.busquedaHeader{
    border-radius: 10px;
    display: flex;
    width: 20%;
    height: 25px;
    background: var(--blanco);
    justify-content: space-between;
}
.header div.busquedaHeader input{
    background: rgba(0,0,0,0);
    border: none;
    width: 70%;
    height: 100%;
}
.header div.busquedaHeader figure{
    display: flex;
    height: 100%;
    width: 40%;
    justify-content: center;
    align-items: center;
}
.header div.busquedaHeader figure i{
}
.header div.iconosHeader{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.header div.iconosHeader a{}
.header div.iconosHeader a i{
    color: var(--blanco);
}
.header div.ofertasYOutlet{
    display: none;
}
.header div.ofertasYOutlet h3{}
.header div.ofertasYOutlet h3.ofertasHeader{}
.header div.ofertasYOutlet h3.outletHeader{}
.header figure.barrasHeader{
    width: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header figure.barrasHeader i{
    color: var(--blanco);
}

/*/////////TABLET//////////*/

@media(min-device-width: 426px) {
.header{
    height: 90px;
}
.header figure{}
.header figure img{}
.header h1{margin-left: 20px;display: flex !important;width: 30%;font-size: 2.1vw;display: inline-block;}
.header h1 p.tituloNegro{
}
.header h1 p.tituloBlanco{
    color: var(--blanco);
}
.header div.selectoresHeader{}
.header div.selectoresHeader select{}
.header div.selectoresHeader select option{}
.header div.busquedaHeader{
    border-radius: 5px;
    width: 20%;
}
.header div.busquedaHeader input{}
.header div.busquedaHeader figure{}
.header div.busquedaHeader figure i{}
.header div.iconosHeader{
    font-size: 20px;
    gap: 20px;
}
.header div.iconosHeader a{}
.header div.iconosHeader a i{}
.header div.ofertasYOutlet{}
.header div.ofertasYOutlet h3{}
.header div.ofertasYOutlet h3.ofertasHeader{}
.header div.ofertasYOutlet h3.outletHeader{}
.header figure.barrasHeader{}
.header figure.barrasHeader i{}
.header figure.pandaHeader{
    margin-right: -40px;
    height: 80px;
    width: 80px;
    background: rgba(0,0,0,0);
    border: none;
}
}

/*/////////ESCRITORIO//////////*/

@media(min-device-width: 769px) {
.header{
    position: relative;
    height: 110px;
}
.header figure{}
.header figure.pandaHeader{
    width: 100px;
    height: 100px;
}
.header figure img{}
.header h1{font-size: 3vw;margin: 0;margin-top: 19px;align-self: start;}
.header h1 p.tituloNegro{
    margin: 0;
}
.header h1 p.tituloBlanco{
    margin: 0;
}
.header div.selectoresHeader{
    display: inline-block;
    align-self: end;
    margin-bottom: 21px;
    margin-left: -36vw;
}
.header div.selectoresHeader select{
    font-size: 1.4vw;
    color: var(--blanco);
    background: rgba(0,0,0,0);
    border: none;
}
.header div.selectoresHeader select option{
}
.header div.busquedaHeader{
    height: 35px;
}
.header div.busquedaHeader input{}
.header div.busquedaHeader figure{}
.header div.busquedaHeader figure i{}
.header div.iconosHeader{}
.header div.iconosHeader a{}
.header div.iconosHeader a i{}
.header div.ofertasYOutlet{
    flex-wrap: wrap;
    right: 30px;
    top: 10px;
    position: absolute;
    display: flex;
    gap: 20px;
}
.header div.ofertasYOutlet h3{}
.header div.ofertasYOutlet h3.ofertasHeader{
    height: 23px;
    width: 85px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    margin: 0;
    background: var(--green);
}
.header div.ofertasYOutlet h3.outletHeader{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 23px;
    width: 85px;
    border-radius: 5px;
    padding: 10px;
    background: var(--orange);
    margin: 0;
}
.header div.ofertasYOutlet h3.outletHeader a{
    color: var(--blanco);
    font-size: 12px;
    text-decoration: none;
}
.header div.ofertasYOutlet h3.ofertasHeader a{
    text-decoration: none;
    font-size: 12px;
    color: var(--blanco);
}
.header div.ofertasYOutlet h3.ofertasHeader a i{
    color: var(--red);
}
.header figure.barrasHeader{
    display: none;
}
.header figure.barrasHeader i{}
}