.no_img {
    max-width: 100px;
}

.card-with-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
 }
 
 .img-wrapper {
     overflow: hidden;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
 }
 
 .img-wrapper img {
     width: 100%;
     height: auto;
     transition: transform 0.3s ease;
 }
 
 .img-wrapper img:hover {
     transform: scale(1.05);
 }
 
 .btn-register-custom {
     background-color: #007bff;
     color: white;
     transition: background-color 0.3s ease;
 }
 
 .btn-register-custom:hover {
     background-color: #0056b3;
 }
 
 .card-body-background {
     background-color: var(--orange);
 }


