
.no_img{
    max-width: 100px;
}
.list_produt{
    background: var(--azul);
    text-align: center;
    width: 100%;
}
.tabla-lista-productos{display: flex;margin-left: 200px;flex-direction: column;flex-wrap: wrap;}