body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e20c0c;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, button, checkbox {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: rgb(96, 195, 241);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

footer {
    background-color: #e20c0c;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}