main.main-login {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main.main-login div div a {
    text-decoration: none;
}

.login-h2 {
    margin: 50px 0px -13px 0px;
}

.login-nombre, .login-contrasenia {
    width: 75%;
    margin-bottom: 15px; /* Reduce el margen inferior */
}

.login-nombre label, .login-contrasenia label {
    margin-bottom: 6px;
    display: block;
}

.login-nombre input, .login-contrasenia input {
    border: 1px solid black;
    background: var(--lightgray);
    color: var(--darkgray);
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
}

.containerLogin {
    display: flex;
    align-items: center;
}

.containerLogin button {
    padding: 2px 5px;
    background-color: var(--red);
    color: var(--blanco);
    border-radius: 0px 5px 5px 0px;
    border: 1px black solid;
}

.eye-button {
    cursor: pointer;
    padding: 0;
    margin-left: -30px;
    z-index: 2;
    display: flex;
    align-items: center;
}

.eye-button i {
    color: var(--blanco);
    font-size: 1.2em;
}

.login-boton {
    margin-bottom: 6px;
}

.form {
    background: var(--white);
    transform: scale(0.8);
    position: relative;
    width: 300px;
    gap: 9px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.logo-login {
    padding: 5px;
    box-shadow: 10px 10px 5px 9px rgba(0, 0, 0, 0.2);
    top: -30px;
    height: 61px;
    position: absolute;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #E2001A;
}

.input-ln {
    color: #d9d9d996;
    border-radius: 3px;
}

.text-login {
    font-weight: 600;
}

.contenido {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fondo {
    width: 200%;
}

.button-login {
    font-size: 1.2rem;
    background-color: var(--red);
    height: 40px;
    width: 200px;
    border-radius: 5px;
    color: var(--white);
}

div.check-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px; /* Ajusta el margen inferior */
}

div.check-login label{
    margin-left: 10px;
}

.link-create-account {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.link-create-account a {
    text-decoration: none;
    margin: 0;
}

.link-create-account p {
    margin: 0;
}

.div-img-google {
    justify-content: space-around;
    height: 50px;
    width: 240px;
    background: var(--white);
    display: flex;
    border: solid 1px;
    border-radius: 45px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.div-img-google p {
    margin: 0px 0px 0px -40px;
}

.img-google {
    margin-left: -22px;
    width: 30px;
    height: 30px;
}

.text-google {
    font-size: 18px;
    padding-left: 15px;
}

@media (min-device-width: 426px) {
    .contenido {
        transform: scale(1.3);
        width: 400px;
        top: 80px;
    }
}

@media (min-device-width: 769px) {
    .text-name {
        margin-top: 20px;
        text-align: center;
    }

    .text-password {
        text-align: center;
    }

    .contenido {
        transform: scale(1.3);
    }

    .fondo {
        width: 100%;
        height: 110vh;
    }
}
