@keyframes error{
    0%{    background: var(--lightgray);;}
    50%{background:rgb(255, 145, 145)}
    100%{    background: var(--lightgray);;}
}

.regiter-h2{
    margin: 50px 0px -13px 0px;
}

.bodyRegistro{display: flex;margin: 0px;flex-direction: column;flex-wrap: wrap;}

main.mainRegistro{order: 2;height: auto; }

main.mainRegistro nav.naregdes{
    margin-top: 45px;
}
/* Fondo */
div.fondoRegis{
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrar en el eje vertical */
    display: flex; /* Añadir esta línea */
}
div.errorsReg{
    max-width: fit-content;
    margin: 0px !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    width: 100% !important;
    z-index: 1;
    overflow: hidden;
    transition: all 1s;
    background: none !important;
    /* top: 20%; */
    
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
div.errorsReg div i{
    color: black !important;
    font-size: unset !important;
}
div.errorsReg div p{
    transition: all 1s;
    border-radius: 0px !important;
    animation: error 3s infinite ease-in-out;
    color: var(--red);
    background: var(--lightgray);
    width: 20%;
    margin: 0;
}
div.errorsReg:hover div p{
    animation: none;
    width: 90%;
}
div.errorsReg div{
    transition: all 1s;
    margin: 0px !important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px !important;
    overflow: hidden;
    display: flex !important;
    width: 100% !important;
    height: 17px;
    color: var(--white);
    align-items: flex-start !important;
}
div.errorsReg:hover div{
    height: 10% !important;
    color: var(--black);
}
div.errorsReg:hover{
    /* height: 100%; */
    width: 30%;
    padding: 0px !important;
}
.figureuserPictureReg:hover .selectDivUser{
    transform: scale(1);
    left: 64%;
    width: 112px !important;
    border-radius: 5px;
}
.figureuserPictureReg{
    overflow: hidden;
    display: flex;
    margin: 0;
    /* background: red; */
    border-radius: 100%;
    /* transform: scale(2.4); */
    height: 130%;
    width: 124% !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.userPictureReg{
    height: 100% !important;
    width: 100% !important;
}
main.mainRegistro-1 .form div.botonesReg{
    flex-direction: row !important;
}

.mensajeOmitir{
    display: block; /* Elemento bloque por defecto */
    clear: both; /* Limpia cualquier flotación previa */
    margin-bottom: 10px; 
    width: 100%; 
}

.selectDivUser{
    transform: scale(0);
    transition: 400ms all;
    left: 55%;
    top: 33%;
    justify-content: center;
    align-items: center !important;
    position: absolute;
    height: 40px !important;
    width: 0px !important;
}
.selectPicUser{
    font-size: 10px;
    width: 90% !important;
    position: absolute;
}

button.botonSiguienteRegis{
    font-size: 1.2rem;
    background-color: var(--blue);
    height: 20px;
    width: 200px;
    border-radius: 5px;
}

button.botonSiguienteRegis.toggle{
background-color: var(--red);
width: 160px;
height: 32px;
margin-top: 10px;
}
.accessLogin{
    text-align: center;   
    margin: 15px;
}

main.mainRegistro nav{transform: scale(1) translateX(0px);transition: 1s all;z-index: 1000;right: 20vw;left: 20vw;top: 58vh;position: absolute;display: flex;flex-direction: column;align-items: center;}

.fondoRegis{
    position: relative;
    height: 153vh;
    display: flex;
}

.fondoRegis .IMG1{
    height: 120%;
    position: absolute;
    left: -250px;
    top: -40px;
    transform: scale(1);
    }
.fondoRegis .IMG2{
    height: 100%;
    position: absolute;
    left: -60vh;
    transform: scale(1.1);
    }
.fondoRegis .span1{
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: start;
    overflow: hidden;
}
 /*
.fondoRegis .span2{
    height: 100%;
    width: 50%;
    align-self: end;
    position: absolute;
    overflow: hidden;
}
    */
main.mainRegistro nav form div{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main.mainRegistro nav div{
    width: 240px;
    display: flex;
    align-items: center;
}

main.mainRegistro div.divFormReg{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*formulario*/
.pandaFormularioReg{
    padding: 5px;
    box-shadow: 10px 10px 5px 9px rgba(0, 0, 0, 0.2);
    top: -15px;
    height: 80px;
    position: absolute;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #E2001A;
}

main.pandaFormularioReg h2{
color: red ;
font-size: 20px
}

main.mainRegistro div form{
    box-shadow: 10px 10px 3px rgb(0 0 0 / 50%);
    width: 240px;
    padding: 3px 15px 0px;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
main.mainRegistro div form img{
    width: 50px;
    height: 50px;
    align-self: center;
}
main.mainRegistro div form label{
    font-size: 100%;
    text-align: center;
}
main.mainRegistro div form input{
    height: 24px;
    margin-bottom: 7%;
    width: 85%;
    background-color: var(--lightgray);
    border: 1px solid black;
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 5px;
    }

main.mainRegistro .perfilReg{
    bottom: 550px;
    gap: 2vw;
    left: 20%;
    background-color: rgba(0,0,0,0);
    position: absolute;
}
main.mainRegistro .perfilReg i{
    display: flex;
    color: var(--gray);
    font-size: 60px;
    align-items: center;
    justify-content: center;
    align-content: center;
}
main.mainRegistro .perfilReg div.fotodePerfil{
    border: solid 1vh var(--white);
    background-color: var(--lightgray);
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
main.mainRegistro .perfilReg div{
    /* height: auto; */
    overflow: hidden;
    box-shadow: 10px 10px 3px rgb(0 0 0 / 50%);
    border-radius: 10px;
    width: 240px;
    padding: 10px 10px;
    background-color: var(--white);
}
main.mainRegistro .perfilReg div label{}
main.mainRegistro .perfilReg div input{
    margin: 0px;
    width: 90%;
}

main.mainRegistro div form{}

main.mainRegistro div form button{
    height: 40px;
    border: solid 1px;
    background-color: var(--blue);
    font-size: 17px;
    display: block; /* Añadido */
    margin-left: auto; /* Añadido */
    margin-right: auto; /* Añadido */
}
main.mainRegistro div form button a{
    text-decoration: none;
    color: var(--white);
}

/*redireccion al login*/
main.mainRegistro div h2{
    /* box-shadow: 10px 10px 3px rgb(0 0 0 / 50%); */
    
    text-align: center;
    font-size: calc(1.325rem + .9vw);
    background-color: var(--white);
    border-radius: 0px 0px 10px 10px;
    margin: 0;
    margin-top: 40px;
    justify-content: flex-start;
}

main.mainRegistro div h2 a{
/*    text-decoration: underline;
    color: #0085ff;*/
}

/*acceder a google*/ .div-img-googler{
    justify-content: space-around;
    height: 65px;
    width: 240px;
    background: var(--white);
    display: flex;
    border: solid 1px;
    border-radius: 45px;
    margin-bottom: 30px;
    box-shadow: 3px 8px 5px 3px rgba(0, 0, 0, 0.2);
    align-items: center;
    margin-top: 40px;
}
.div-img-googler img{
    width: 40px;
    height: 40px;
}

.div-img-google p{
    margin: 0px 0px 0px -40px;
}

.text-google{font-size: 18px;
padding-left: 15px;

}

/*/////////TABLET//////////*/

@media(min-device-width: 426px) {
main.mainRegistro .google{
    margin-top: 4% !important;
    width: 200px !important;
}

main.mainRegistro .google img{
    width: 3.2vh;
}
main.mainRegistro .google h2{
    width: 80%;
    font-size: 14px;
}
main.mainRegistro .google h2 a{}
main.mainRegistro div h2 a{}
  main.mainRegistro div h2{
    font-size: calc(1.325rem + .9vw);
   
    margin-top: 40px;
}
main.mainRegistro nav.naregdes{
    margin-top: 90px;
}

main.mainRegistro div form button{
    width: 100%;
    align-self: center;
    font-size: 90%;
    height: 35px;
}
main.mainRegistro .perfilReg div input{
    width: 88%;
    height: 24px;
}
main.mainRegistro .perfilReg div{
    padding: 2% 5%;
}
main.mainRegistro .perfilReg div.fotodePerfil{/* height: 100%; */width: 100px;
    height: 100px;}
main.mainRegistro .perfilReg i{}
main.mainRegistro .perfilReg{
    height: auto;

    /* top: -48%; */
}
main.mainRegistro div form input{
    margin-bottom: 4%;
    height: 26px;
}
main.mainRegistro div form label{
    font-size: 100%;
    text-align: center;
}
main.mainRegistro div form img{}
main.mainRegistro div form{}
.pandaFormularioReg{
    width: 7vh;
    height: 7vh;
}
main.mainRegistro div{
}
.fondoRegis .span2{
    height: 100%;
}
.fondoRegis .span1{height: 100%;}
.fondoRegis .IMG2{
    left: -40vh;
}
.fondoRegis .IMG1{}
.fondoRegis{}
main.mainRegistro nav{top: 67vh;}
.bodyRegistro{}
main.mainRegistro{}
}

/*/////////ESCRITORIO//////////*/
@media (min-device-width: 769px) {
    main.mainRegistro div.fondoRegis {
        height: 110vh;
        width: 100%;
        position: relative;
    }

    main.mainRegistro div.fondoRegis .IMG1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    main.mainRegistro nav.naregdes{     
        margin-top: -150px;
    }

    main.mainRegistro div form input {
        height: 29px;
    }

    main.mainRegistro form .margenEspRegis {
        margin-bottom: -200px;
        height: 29px;
    }

    main.mainRegistro .google {
        width: 200px !important;
        padding: 10px !important;
    }

    main.mainRegistro .google img {
        width: 24px;
    }

    main.mainRegistro .google h2 {}

    main.mainRegistro .google h2 a {}

    main.mainRegistro div h2 a {}

    main.mainRegistro div h2 {
        font-size: 33px;
        padding: 1% 0 5% 0;
        width: 185px;
        margin-top: 40px;
    }

    main.mainRegistro div form button {
        align-self: unset;
        width: 170px;
    }

    main.mainRegistro .perfilReg {}

    main.mainRegistro .perfilReg div input {}

    main.mainRegistro .perfilReg div {
        padding-top: 0px;
    }

    main.mainRegistro .perfilReg div.fotodePerfil {
        border: solid 6px var(--white);
        width: 150px;
        height: 150px;
    }

    main.mainRegistro .perfilReg i {
        font-size: 60px;
    }

    main.mainRegistro .perfilReg {
        top: 1px;
        position: relative;
        left: 130%;
        width: auto;
    }

    main.mainRegistro button.botonSiguienteRegis {
        font-size: 1.2rem;
        background-color: var(--red);
        height: 40px;
        width: 200px;
        border-radius: 5px;
    }

    .accessLogin a {
        text-decoration: none;
    }

    main.mainRegistro div form input {
        height: 29px;
    }

    main.mainRegistro div form label {
        text-align: center;
    }

    main.mainRegistro div form img {
        width: 60px;
        height: 60px;
        align-self: center;
    }

    main.mainRegistro div form {
        width: 310px;
    }

    main.mainRegistro div form button a {
        font-size: 1.2rem;
    }

    .div-img-googler {
        justify-content: space-around;
        margin-top: 50px;
        height: 65px;
        width: 240px;
        background: var(--white);
        display: flex;
        border: solid 1px;
        border-radius: 45px;
        margin-bottom: 30px;
        box-shadow: 3px 8px 5px 3px rgba(0, 0, 0, 0.2);
        align-items: center;
    }

    .div-img-googler p {
        margin: 0px 0px 0px -40px;
        font-size: 21px;
    }

    .img-googler {
        margin-left: -22px;
        width: 40px;
        height: 40px;
    }

    .pandaFormularioReg {
        padding: 5px;
        box-shadow: 10px 10px 5px 9px rgba(0, 0, 0, 0.2);
        top: -30px;
        height: 61px;
        position: absolute;
        border: 1px solid black;
        border-radius: 50px;
        background-color: #E2001A;
    }

    main.pandaFormularioReg h2 {
        color: red;
        font-size: 20px;
    }

    main.mainRegistro div {}

    .fondoRegis .span2 {}

    .fondoRegis .span1 {}

    .fondoRegis .IMG2 {}

    .fondoRegis .IMG1 {}

    main.mainRegistro nav {
        top: 52vh;
    }

    main.mainRegistro nav div {
        width: 310px;
        display: flex;
        align-items: center;
    }

    main.mainRegistro div.divFormReg {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main.mainRegistro div.divFormReg div input.password-input {
        position: relative;
        right: 35px;
        width: 200px;
    }

    main.mainRegistro div.divFormReg div button {
        margin-left: 205px;
        position: absolute;
    }

    main.mainRegistro div.divFormReg form.formReg {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    main.mainRegistro div form button {
        width: 29px;
        height: 29px;
    }

    .bodyRegistro {}
}
