<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head", {title: 'Pefil de usuario' }) %>
    <!-- <body class="bodyRegistro-1"> -->

    <body>
        <!-- header -->
        <%- include("../partials/header") %>
            <!-- /header -->

            <!-- main -->
            <main class="principal-h">
                <section class="historia">
                    <div class="container">
                        <h2> Descubre la magia de Simplemente Juguetes </h2>
                        <div class="imagen">
                            <img src="/images/other/imagenJugueteria.png" alt="Simplemente Juguetes">
                        </div>
                        <p>En el bullicioso distrito comercial de nuestra ciudad se alza "Simplemente Juguetes", mucho más que una tienda; es un mundo de fantasía donde los sueños de los niños se convierten en realidad. Desde los clásicos bloques de construcción hasta los últimos robots interactivos, cada rincón de Simplemente Juguetes está lleno de sorpresas y alegría. Nuestro equipo de expertos en juguetes no solo te ayudará a encontrar el regalo perfecto, sino que también te guiará a través de historias mágicas y momentos inolvidables. Ven y únete a la diversión en Simplemente Juguetes, donde cada día es una aventura nueva.</p>
                    </div>
                </section>
            </main>
            <!-- /main -->
            <!-- footer -->
            <footer class="sub-footer">
                <!-- Footer -->
                <%- include("../partials/footer") %>
            </footer>
            <!-- /footer -->
            <!-- Script Bootstrap -->
            <%- include("../partials/scripts") %>
                <!-- /Script Bootstrap -->
    </body>

</html>