<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head")%>

    <body>

        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class=" fw-bold">404</h1>
                <p class="fs-3"><span class="text-danger">Opps!</span> Página no encontrada.</p>
                <p class="lead">
                    La página que estás buscando no existe.
                </p>
                <a href="/home" class="btn btn-primary">Back to home</a>
                <div >
                    <figure >
                        <img class="col-6" src="/imagen/panda-logo.png" alt="simplemente-juguetes-logo">
                    </figure>
                </div>
            </div>
        </div>
        <%- include("../partials/footer")%>
    </body>

</html>