<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head")%>

    <body>
        <%- include("../partials/header") %>
            <div class="container py-5">
                <div class="row text-center py-5">
                    <div class="col-md-12">
                        <h1 class="fw-bold">404</h1>
                        <p class="fs-3"><span class="text-danger">Opps!</span> P치gina no encontrada.</p>
                        <p class="lead"> La p치gina que est치s buscando no existe.</p>
                        <img src="/images/logo/panda-logo.png" class="img-fluid img-thumbnail"
                            alt="simplemente-juguetes-logo" style="max-width: 200px;">
                        <p><a href="/" class="btn btn-register-custom mt-5">Volver a la p치gina de inicio</a></p>
                    </div>
                </div>
            </div>
            <%- include("../partials/footer")%>
    </body>

</html>