<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head",{title:'Ingresar'}) %>

    <body>

        <!-- Header -->
        <%- include("../partials/header") %>

            <!--     MAIN    -->
            <main class="main-login">
                <img class="fondo" src="../images/other/fondoPrueba.png" alt="fondo">
                <div class="contenido">
                    <form action="/autenticacion/login" method="post" class="form">
                        <img src="/images/logo/panda-logo.png" alt="logo" class="logo-login">
                        <div class="login-h2">
                            <h2>Bienvenido</h2>
                        </div>
                        <div class="login-nombre">
                            <label class="text-name" for="nombre">Nombre de usuario</label>
                            <input type="text" name="userName" id="nombre" class="input-ln">
                        </div>
                        <div class="login-contrasenia">
                            <label class="text-password" for="password">Contraseña</label>
                            <input type="password" id="password" class="input-login" name="password">
                        </div>
                        <!-- <div class="login-contrasenia">
                            <label class="text-login" for="password">Contraseña</label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control form-control-sm input-password" name="password" value="" id="password">
                                <span class="input-group-text bg-transparent" id="btn-eye">
                                  <i class="fa-solid fa-eye" id="icon-eye"></i>                        
                                </span>
                            </div>
                        </div> -->
                        <div class="check-login">
                            <input type="checkbox" name="recuerdame" id="recuerdame">
                            <label class="text-checkbox" for="recuerdame"> Recuerdame</label>
                        </div>
                        <div class="login-boton">
                            <button type="submit" class="button-login">Ingresar</button>
                        </div>
                        <div class="link-create-account">
                            <p>¿No tenes cuenta?</p>
                            <a href="/autenticacion/registrar-usuario" class="link-create-account">Crea tu cuenta</a>
                        </div>
                        <div class="m-1 text-end"><a href="/autenticacion/login/google" class="btn btn-primary">Iniciar con Google</a></div>
                        <div class="m-1 text-end"><a href="/autenticacion/login/facebook" class="btn btn-primary">Iniciar con Facebook</a></div>

                    </form>
                    <div class="div-img-google">
                        <img class="img-google" src="/images/other/google-icon.png" alt="">
                        <p>Ingresa con google</p>
                    </div>
                </div>
            </main>

            <!-- Footer -->
            <%- include("../partials/footer") %>

                <!-- Script Bootstrap -->
                <%- include("../partials/scripts") %>
                    <!-- /Script Bootstrap -->

                    <script src="/js/functions/togglePassword.js"></script>
    </body>

</html>