<html>
<%- include("../partials/head", {title: 'Dashboard' }) %>

  <body class="body-dashboard">
    <main class="main-dashboard">
      <%- include("./partials/dashbar") %>
    </main>
    <footer class="sub-footer">
    </footer>
  </body>

</html>