<nav class="main-menu">
    <figure class="pandaDashboard"><img src="/images/logo/logo-SJ2.png" alt="Simplemente Juguetes"></figure>
    <ul>
        <li class="has-subnav">
            <a href="/autenticacion/lista-usuarios">
                <i class="fa-solid fa-user"></i>
                <span class="nav-text">
                    Usuarios
                </span>
            </a>
        </li>

        <!-- <li class="has-subnav">

            <a href="/admin/crear-producto">
                <i class="fa-solid fa-tag"></i>
                <span class="nav-text">
                    Registrar Juguetes
                </span>
            </a>
        </li> -->

        <li class="has-subnav">
            <a href="/admin/lista-productos">
                <i class="fa-solid fa-clipboard"></i>
                <span class="nav-text">
                    Productos
                </span>
            </a>
        </li>

        <li class="has-subnav">
            <a href="/categorias/lista-categorias">
                <i class="fa-solid fa-list"></i>
                <span class="nav-text">
                    Categorias
                </span>
            </a>
        </li>

        <li class="has-subnav">
            <a href="/">
                <i class="fa-solid fa-house-chimney"></i>
                <span class="nav-text">
                    Home
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="/autenticacion/cerrar-session">
                <span class="nav-text">
                    Cerrar Sesion
                </span>
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </li>
    </ul>
</nav>