<nav class="main-menu">
    <figure class="pandaDashboard"><img src="/images/logo/panda-logo.png" alt="Simplemente Juguetes"></figure>
    <ul>
        <li class="has-subnav">
            <a href="/admin/crear-producto">
                <i class="fa-solid fa-tag"></i>
                <span class="nav-text">
                    Registrar Juguetes
                </span>
            </a>
        <li class="has-subnav">
            <a href="/productos/lista-productos">
                <i class="fa-solid fa-clipboard-list"></i>
                <span class="nav-text">
                    Lista de Productos
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="#">
                <span class="nav-text">
                    Logout
                </span>
                <i class="fa fa-power-off fa-2x"></i>

            </a>
        </li>
    </ul>
</nav>