<footer class="ft-container">
    <div class="ft-row ft-row-line">
        <!-- Logotipo -->
        <div class="ft-row-item ft-row-item-logo">
            <figure>
                <img class="footer-logo" src="/imagen/logo-footer.png" alt="Logo Simplemente Juguetes">
            </figure>
            <p>En Simplemente Juguetes trabajamos para que todos los niños y sus familias puedan
                encontrar ese juguete tan especial que recordarán con cariño toda su vida.</p>
        </div>
        <!-- Producto -->
        <div class="ft-row-item">
            <h4 class="ft-title">COMPRAS</h4>
            <ul class="ft-links-list">
                <li class="ft-links-list-item"><a href="">Juegos y juguetes</a></li>
                <li class="ft-links-list-item"><a href="">Personajes</a></li>
                <li class="ft-links-list-item"><a href="">Edades</a></li>
                <li class="ft-links-list-item"><a href="">Categorias</a></li>
            </ul>
        </div>
        <div class="ft-row-item">
            <h4 class="ft-title">CONTACTO</h4>
            <ul class="ft-links-list">
                <li class="ft-links-list-item"><a href="">Atención al cliente</a></li>
                <li class="ft-links-list-item"><a href="tel:1122341456"> <i class="fa-brands fa-whatsapp"></i>
                        1122341456</a>
                </li>
                <li class="ft-links-list-item"><a href="mailto:simplementejuguetes@gmail.com"> <i
                            class="fa-solid fa-envelope"></i>
                        simplementejuguetes@gmail.com</a></li>
            </ul>
        </div>
        <div class="ft-row-item">
            <h4 class="ft-title">NOSOTROS</h4>
            <ul class="ft-links-list">
                <li class="ft-links-list-item"><a href="">Tiendas</a></li>
                <li class="ft-links-list-item"><a href="">La marca</a></li>
                <li class="ft-links-list-item"><a href="">Trabaja con nosotros</a></li>
                <li class="ft-links-list-item"><a href="">Políticas de privacidad</a></li>
            </ul>
        </div>
        <div class="ft-row-item">
            <h4 class="ft-title">REDES</h4>
            <ul class="ft-social-list">
                <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="ft-social-list-item"><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="ft-down">
        <div class="ft-legal">
            <ul class="ft-legal-list">
                <li class="ft-legal-list-item"><a href="">Powered by Mercado Shops</a></li>
                <li class="ft-legal-list-item"><a href="">vkdesign.cc</a></li>
                <li class="ft-legal-list-item"><a href="">Avisos Legales</a></li>
                <li class="ft-legal-list-item">Copyrigth© 2024 Simplemente Juguetes S.A.</li>
                <li class="ft-legal-list-item">Todos los derechos
                    reservados </li>
            </ul>
        </div>
        <div class="ft-card">
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-visa"></i>
        </div>
    </div>
</footer>