<header class="header">
  <a href="/">
    <figure class="pandaHeader"><img src="/images/logo/panda-logo.png" alt="Simplemente Juguetes"></figure>
  </a>
  <h1>
    <p class="tituloNegro">SIMPLEMENTE</p>
    <p class="tituloBlanco">JUGUETES</p>
  </h1>
  <div class="selectoresHeader">
    <select class="">
      <option value="" selected hidden>JUEGOS Y JUGUETES</option>
      <option value=""></option>
    </select>
    <select class="">
      <option value="" selected hidden>EDADES</option>
      <option value=""></option>
    </select>
    <select class="">
      <option value="" selected hidden>PERSONAJES</option>
      <option value=""></option>
    </select>
  </div>
  <!--busqueda-->
  <div> <!--class="busquedaHeader"-->
    <form action="/buscar" method="GET"> <!--  class="search-form" -->
      <input type="text" name="keywords" placeholder="Buscar..." class="search-form_input">
      <!-- <figure><i class="fa-solid fa-magnifying-glass"></i></figure> -->
      <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
    </form>
  </div>
  <!--/busqueda-->
  <!--iconos del header-->
  <div class="iconosHeader">

    <!--autenticacion favoritos-->
    <% if(!locals.userLogin){ %>  
      <a href="/autenticacion/login"><i class="fa-solid fa-heart"></i></a>
    <% } else { %> 
      <a href="/sdasdada"><i class="fa-solid fa-user"></i></a> <!--fa-solid fa-heart-->
    <% } %>
    <!--autenticacion perfil-->
    <% if(!locals.userLogin){ %>  
      <a href="/autenticacion/login"><i class="fa-solid fa-user"></i></a>
    <% } else { %> 
      <a href="/perfil"><i class="fa-solid fa-user"></i></a>
    <% } %>
    <!--autenticacion carrito-->
    <% if(!locals.userLogin){ %>  
      <a href="/autenticacion/login"><i class="fa-solid fa-cart-shopping"></i></a>
    <% } else { %> 
      <a href="/carrito-compra"><i class="fa-solid fa-cart-shopping"></i></a>
    <% } %>

  </div>
  <!--ofertas y outlet-->
  <div class="ofertasYOutlet">
    <h3 class="ofertasHeader"><a href="/"><i class="fa-solid fa-fire-flame-curved"></i>OFERTAS</a></h3>
    <h3 class="outletHeader"><a href="">OUTLET</a></h3>
  </div>
  <figure class="barrasHeader"><i class="fa-solid fa-bars"></i></figure>
</header>