<header class="header">
  <a href="/">
    <figure class="pandaHeader"><img src="/images/logo/panda-logo.png" alt="Simplemente Juguetes"></figure>
  </a>
  <h1>
    <p class="tituloNegro">SIMPLEMENTE</p>
    <p class="tituloBlanco">JUGUETES</p>
  </h1>
  <div class="selectoresHeader">
    
      <a href="/productos/lista-productos">JUEGOS Y JUGUETES</a> |
      
      <a href="">EDADES</a> |
    
      <a href="">PERSONAJES</a>
  </div>
  <!--busqueda-->
  <div> <!--class="busquedaHeader"-->
    <form action="/buscar" method="GET"> <!--  class="search-form" -->
      <input type="text" name="keywords" placeholder="Buscar..." class="search-form_input">
      <!-- <figure><i class="fa-solid fa-magnifying-glass"></i></figure> -->
      <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
    </form>
  </div>
  <!--/busqueda-->
  <!--iconos del header-->
  <div class="iconosHeader">
    <!-- Autenticación y opciones de usuario -->
    <% if (!locals.userLogin) { %>  
      <p class="welcome">⚪ ¡BIENVENIDO, EN QUE PODEMOS AYUDARTE! ⚪</p>
      <div class="admin-links">
        <a href="/sobre-nosotros"><i class="fa-solid fa-building-circle-check"></i>Jugueteria</a>
        <a href="/autenticacion/login"><i class="fa-solid fa-user"></i>Ingresar</a>
        <a href="/contacto"><i class="fa-solid fa-envelope-circle-check"></i>Contacto</a>
      </div>

        <% } else if (locals.userLogin && locals.userLogin.role === 2) { %> 
      <p class="welcome">⚪ ¡BIENVENIDO ADMINITRADOR! ⚪</p>
      <div class="admin-links">
          <a href="/admin/crear-producto"><i class="fa-solid fa-cart-plus"></i>Agregar</a>
          <a href="/admin/lista-productos"><i class="fa-solid fa-clipboard-list"></i>Productos</a>
          <a href="/autenticacion/cerrar-session"><i class="fa-solid fa-user"></i>Log Out</a>
      </div>
    
      </div>
      <% } else { %>
      <p class="welcome">⚪ ¡HOLA <strong><%= locals.userLogin.userName.toUpperCase() %></strong> QUE GUSTO VERTE! ⚪</p>
      <div class="admin-links">
        <a href="/favoritos"><i class="fa-solid fa-heart"></i>Favoritos</a>
        <a href="/perfil/<%= locals.userLogin.id %>"><i class="fa-solid fa-user-check"></i><%= locals.userLogin.userName.charAt(0).toUpperCase() + locals.userLogin.userName.slice(1) %></a>
        <a href="/carrito-compra"><i class="fa-solid fa-cart-shopping"></i>Carrito</a>
      </div>
      <% } %>
</div>

   
  <!--ofertas y outlet-->
  <div class="ofertasYOutlet">
    <% if(!locals.userLogin){ %>  
    <h3 class="ofertasHeader"><a href="/"><i class="fa-solid fa-fire-flame-curved"></i>OFERTAS</a></h3>
    <h3 class="outletHeader"><a href="">OUTLET</a></h3>

    <% } else if(locals.userLogin && locals.userLogin.id === 1){ %> 
      <p class="administrator"><a href="">VISTA ADMINITRADOR</a></p>
    <% } else { %>
    <h3 class="ofertasHeader"><a href="/"><i class="fa-solid fa-fire-flame-curved"></i>OFERTAS</a></h3>
    <h3 class="outletHeader"><a href="">OUTLET</a></h3>
    <% } %>
  </div>
  <figure class="barrasHeader"><i class="fa-solid fa-bars"></i></figure>
</header>