<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head") %>
    <%- include("../partials/dashbar") %>

        <body>
            <!-- main -->
            <main class="container ">
                <!-- title -->
                <div class="row mb-4">
                    <div class="col-12 bg-container-title-custom">
                        <h2 class="color-title-custom">REGISTRO DE JUGUETES</h2>
                    </div>
                </div>
                <!-- /title -->
                <!-- boton volver -->
                <div class="btn-volver"><button type="button" class="btn btn-secondary "><a
                            class="a-volver-edit-product" href="/dashboard">volver</a></button></div>
                <!-- /boton volver-->
                <div class="row ">
                    <div class="col-12 ">
                        <form class="form-edit" action="/admin/crear-producto/" method="post" enctype="multipart/form-data">
                            <div class="row justify-content-center">
                                <!-- Name -->
                                <div class="col-12 col-md-10 mb-3">
                                    <label class="form-label" for="name">Nombre</label>
                                    <input class="form-control" type="text" id="name" name="name"
                                        placeholder="Introduzca el nombre" required>
                                </div>
                                <!-- /Name -->
                                <!-- Description -->
                                <div class="col-12 col-md-10 mb-3">
                                    <label class="form-label" for="description">Descripción</label>
                                    <textarea class="form-control" id="description" name="description" rows="6"
                                        placeholder="Introduzca la descripción" required></textarea>
                                </div>
                                <!-- /Description -->

                                <!-- Primary imagen-->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                    <label for="imagePrimary" class="form-label">Seleccionar la imagen
                                        principal</label>
                                    <input class="form-control" id="imagePrimary" type="file" name="imagePrimary"
                                        accept="image/*">
                                </div>
                                <!-- /Primary imagen-->
                                <!-- Secondary imagen-->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                    <label for="imagesSecondary" class="form-label">Seleccionar las imágenes
                                        secundarias</label>
                                    <input class="form-control" id="imagesSecondary" type="file" name="imagesSecondary"
                                        multiple accept="image/*">
                                </div>
                                <!-- /Secondary imagen-->
                                <!-- Stock -->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                    <label class="form-label" for="stock">Cantidad</label>
                                    <input type="number" class="form-control" id="stock" name="stock"
                                        placeholder="Introduzca la cantidad" required>
                                </div>
                                <!-- /Stock -->
                                <!-- Price -->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                    <label class="form-label" for="price">Precio</label>
                                    <input type="number" class="form-control" id="price" name="price"
                                        placeholder="Introduzca el precio" required>
                                </div>
                                <!-- /Price -->
                                <!-- Marker -->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                    <label class="form-label" for="maker">Fabricante</label>
                                    <input type="text" class="form-control" id="maker" name="maker"
                                        placeholder="Introduzca el fabricante" required>
                                </div>
                                <!-- /Marker -->
                                <!-- Line -->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                    <label class="form-label" for="line">Línea</label>
                                    <input type="text" class="form-control" id="line" name="line"
                                        placeholder="Introduzca la línea">
                                </div>
                                <!-- /Line -->
                                <!-- Collection -->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                    <label class="form-label" for="collection">Colección</label>
                                    <input type="text" class="form-control" id="collection" name="collection"
                                        placeholder="Introduzca la colección">
                                </div>
                                <!-- /Collection -->
                                <!-- Character -->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                    <label class="form-label" for="character">Personaje</label>
                                    <input type="text" class="form-control" id="character" name="character"
                                        placeholder="Introduzca el personaje" required>
                                </div>
                                <!-- /Character -->
                                <!-- Character Versión -->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                    <label class="form-label" for="characterVersion">Versión del Personaje</label>
                                    <input type="text" class="form-control" id="characterVersion"
                                        name="characterVersion" placeholder="Introduzca la versión del personaje">
                                </div>
                                <!-- /Character Versión -->
                                <!-- Recommended Minimum Age -->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                    <label class="form-label" for="recommendedMinimumAge">Edad Mínima
                                        Recomendada</label>
                                    <input type="number" class="form-control" id="recommendedMinimumAge"
                                        name="recommendedMinimumAge" min="0"
                                        placeholder="Introduzca la edad mínima recomendada" required>
                                </div>
                                <!-- /Recommended Minimum Age -->
                                <!-- Initial Scale -->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                    <label class="form-label" for="initialScale">Escala inicial</label>
                                    <input type="number" class="form-control" id="initialScale" name="initialScale"
                                        min="0" placeholder="Introduzca la escala inicial">
                                </div>
                                <!-- /Initial Scale -->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                </div>

                                <div class="row justify-content-center p-0 mb-3">
                                    <div class="col-md-10 d-flex flex-wrap ">
                                        <!-- Articulated -->
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <label class="form-check-label">¿Es articulado?</label>
                                            <div class="form-check-container d-flex justify-content-evenly">
                                                <div>
                                                    <input type="radio" id="articulated_yes" name="articulated"
                                                        value="yes" checked>
                                                    <label for="articulated_yes">Sí</label>
                                                </div>
                                                <div>
                                                    <input type="radio" id="articulated_no" name="articulated"
                                                        value="no">
                                                    <label for="articulated_no">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Collectable -->
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <label class="form-check-label">¿Es coleccionable?</label>
                                            <div class="form-check-container d-flex justify-content-evenly">
                                                <div>
                                                    <input type="radio" id="collectable_yes" name="collectable"
                                                        value="yes" checked>
                                                    <label for="collectable_yes">Sí</label>
                                                </div>
                                                <div>
                                                    <input type="radio" id="collectable_no" name="collectable"
                                                        value="no">
                                                    <label for="collectable_no">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Includes Accessories -->
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <label class="form-check-label">¿Incluye accesorios?</label>
                                            <div class="form-check-container d-flex justify-content-evenly">
                                                <div>
                                                    <input type="radio" id="includes_accessories_yes"
                                                        name="includesAccessories" value="yes" checked>
                                                    <label for="includes_accessories_yes">Sí</label>
                                                </div>
                                                <div>
                                                    <input type="radio" id="includes_accessories_no"
                                                        name="includesAccessories" value="no">
                                                    <label for="includes_accessories_no">No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Botones-->
                                <div
                                    class="col-12 col-md-10 d-flex flex-column flex-md-row justify-content-md-center justify-content-lg-end gap-3">
                                    <button class="btn btn-custom-register " type="submit">REGISTRAR</button>
                                    <button class="btn btn-custom-cancel" type="reset">CANCELAR</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <!-- /main -->
            <!-- scripts -->
            <%- include("../partials/scripts") %>
                <!-- /scripts -->


        </body>

</html>