<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %>
        <!--   HEADER    -->
        <%- include("./partials/header") %>
    <body class="bodyRegistro-1">
<main class="mainRegistro-1">
<div class="fondoRegis">
        <span class="span1">
    <img src="../imagen/fondRegis1.jpg" alt="" class="IMG1">
</span>
<span class="span2">
    <img src="../imagen/fondRegis2.jpg" alt=""class="IMG2">
</span>
</div>
    <nav>
<!--Formulario opcional-->
<form action="">
    <label for="nombreCompleto" class="elCienReg">Nombre y apellido</label>
    <input type="text" class="elCienReg" placeholder="nombreEjemplo" name="" value="">
<div class="blocReg1">
    <label for="provincia" class="blocReg1-1">Provincia</label>
    <select class="blocReg1-2" name="" value="">
        <option value="" selected hidden>provinciaEjemplo</option>
        <option value="BA">Buenos Aires</option>
        <option value="CA">Catamarca</option>
        <option value="CH">Chaco</option>
        <option value="CT">Chubut</option>
        <option value="CB">Córdoba</option>
        <option value="CR">Corrientes</option>
        <option value="ALLÍ">Entre Ríos</option>
        <option value="FO">Formosa</option>
        <option value="TU">Jujuy</option>
        <option value="ELEPÉ">La Pampa</option>
        <option value="LR">La Rioja</option>
        <option value="MZ">Mendoza</option>
        <option value="MI">Misiones</option>
        <option value="NQ">Neuquén</option>
        <option value="RN">Río Negro</option>
        <option value="SA">Salta</option>
        <option value="SJ">San Juan</option>
        <option value="SL">San Luis</option>
        <option value="SC">Santa Cruz</option>
        <option value="SF">Santa Fe</option>
        <option value="SE">Santiago del Estero</option>
        <option value="TF">Tierra del Fuego</option>
        <option value="TU">Tucumán</option>
                </select>
    <label for="calle" class="blocReg1-3">Calle</label>
    <input type="text" class="blocReg1-4" placeholder="calleEjemplo" name="" value="">
</div>
<div class="blocReg2">
    <label for="localidad" class="blocReg2-1">Localidad</label>
    <input type="text" class="blocReg2-2" placeholder="localidadEjemplo" name="" value="">
    <label for="numero" class="blocReg2-3">Número</label>
    <input type="number" placeholder="S/N" class="blocReg2-4" name="" value="">
</div>
    <label class="queCallesRegis">¿Entre qué calles está? (opcional)</label>
<div class="calleReg">
    <label for="calle1" class="callebloReg1">Calle 1</label>
    <input type="text" class="callebloReg2" placeholder="calleEjemplo1" name="" value="">
    <label for="calle2" class="callebloReg3">Calle 2</label>
    <input type="text" class="callebloReg4" placeholder="calleEjemplo2" name="" value="">
</div>
<div class="blocReg3">
    <label for="codigoPos" class="blocReg3-1">Código postal</label>
    <input type="number" class="blocReg3-2" placeholder="0000" name="" value="">
    <label for="piso" class="blocReg3-3">Piso (opcional)</label>
    <input type="text" class="blocReg3-4" placeholder="pisoEjemplo" name="" value="">
    <label for="telContac" class="blocReg3-5">Telefono de contacto</label>
    <input type="number" class="blocReg3-6" placeholder="telCont." name="" value="">
</div>
<div class="blocReg4">
    <label for="indicAdic" class="elCienReg">Indicaciones adicionales (opcional)</label>
    <input type="text" class="elCienReg" placeholder="textoEjemplo" name="" value="">
</div>
<div>
        <button class="botonVolverRegis"><p><a href="/registro">Volver</a></p></button>
        <button class="botonOmitirRegis"><p><a href="/registro-paso-3">Omitir</a></p></button>
        <button class="botonContinuarRegis"><p><a href="/registro-paso-3">Continuar</a></p></button>
</div>
</form>
</nav>
</main>
<footer class="sub-footer">
   <!-- Footer -->
   <%- include("./partials/footer") %>
</footer>
<!-- Script Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    </body>
</html>


