<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head", {title: 'Carrito de compras' }) %>

    <body>
        <!-- Header EJS -->
        <%- include("../partials/header") %>
            <style>
                .card {
                    margin-left: auto;
                    margin-right: auto;
                }

            </style>
            <!-- Main -->
            <main class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center mt-4 title-page">Tu Carrito de Compras</h1>
                    </div>
                </div>
                <div class="row position-relative mb-5">
                    <div class="col-12 col-md-8" id="card-container">
                        <!-- Aquí van los elementos del carrito -->
                    </div>
                    <div class="card col-12 col-md-3 my-5 position-sticky" style="height: fit-content; top: 20px;">
                        <div class="card-body my-2 d-flex flex-column gap-2">
                            <h5 class="card-title-black">Resumen de compra</h5>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center fs-3">
                                <div class="card-text card-text-black">Total:</div>
                                <div class="card-text card-text-orange">$ <output id="show-total"> 0</output></div>
                            </div>
                            <button class="btn w-100 custom-btn-green" id="btn-buy">Comprar</button>
                            <button class="btn w-100 custom-btn-red" id="clear-cart">Vaciar Carrito</button>
                            <a href="/productos/lista-productos" class="btn w-100 custom-btn-black">Seguir mirando</a>
                        </div>
                    </div>
                </div>
            </main>

            <!-- Footer EJS -->
            <%- include("../partials/footer") %>
                <script src="/js/functions/cart.js"></script>
    </body>

</html>