<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head",{title:'favoritos'}) %>

<body>
    <!-- Header EJS -->

    <%- include("../partials/header") %>

    <!-- Main -->
    <main class="favorite-container">
        <h1 class="title-favorite">Favoritos</h1>
    
        <section class="favorite-box">
            <!-- Products -->
            <article class="mn-box-product">
                <!-- Product Header for Desktop -->
    
                <!-- Product Item -->
                <div class="product-item">
                    <div class="product-close">
                        <i class="fa-solid fa-rectangle-xmark"></i>
                    </div>
                    <figure class="product-fig">
                        <img class="product-img" src="/images/products/firstImg-1710373000303.jpg" alt="Rex Toy Story Original De Mattel">
                    </figure>
                    <div class="product-info">
                        <div class="product-details">
                            Rex Toy Story Original De Mattel
                        </div>
                        <div class="product-price">
                            $55.890
                        </div>
                    </div>
                </div>
    
                <div class="product-item">
                    <div class="product-close">
                        <i class="fa-solid fa-rectangle-xmark"></i>
                    </div>
                    <figure class="product-fig">
                        <img class="product-img" src="/images/products/firstImg-1710534921951.jpg" alt="Woody Toy Story 4 Vaquero Original 15 Frases">
                    </figure>
                    <div class="product-info">
                        <div class="product-details">
                            Woody Toy Story 4 Vaquero Original 15 Frases
                        </div>
                        <div class="product-price">
                            $64.890
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
    
    
    <!-- Footer EJS -->
    <%- include("../partials/footer") %>

</body>

</html>